In [2]:
# For (loop)

voos = ["Lisboa", "Barcelona", "Sao Paulo", "Roma"]
for x in voos:
    print (x)

Lisboa
Barcelona
Sao Paulo
Roma

In [5]:
voos = ["Barcelona", "Sao Paulo", "Lisboa", "Roma"]
for x in voos:
    if x == "Lisboa":
        break
    print (x)

Barcelona
Sao Paulo

In [6]:
voos = ["Barcelona", "Sao Paulo", "Lisboa", "Roma"]
for x in voos:
    if x == "Lisboa":
        continue
    print (x)

Barcelona
Sao Paulo
Roma

In [7]:
for x in range (6):
    print (x)

0
1
2
3
4
5

In [8]:
for x in range (6):
    print (x)
else:
    print ("Fim da execução")

0
1
2
3
4
5
Fim da execução

In [9]:
for x in range (6):
    if x == 4:
        continue
    print (x)
else:
    print ("Fim da execução")

0
1
2
3
5
Fim da execução

In [10]:
for x in range (6):
    if x != 4:
        print (x)
else:
    print ("Fim da execução")

0
1
2
3
5
Fim da execução

In [11]:
frutas = ["maça", "banana", "uva", "maça", "uva","laranja"]
print(frutas[1])
print(frutas[-1])

banana
laranja

In [12]:
print (frutas[2:5])

['uva', 'maça', 'uva']

In [13]:
print (frutas[:5])

['maça', 'banana', 'uva', 'maça', 'uva']

In [14]:
print (frutas[2:])

['uva', 'maça', 'uva', 'laranja']

In [15]:
print (frutas[-3:-1])

['maça', 'uva']

In [21]:
# Faça um programa que pesquisa um nome de pessoa digitado pelo usuário em uma lista de dez nomes.

nomes = ["Natalia", "Rafael", "Alexandre", "Neide", "Aline", "Pedro", "Luis", "Marcio", "Marcelo", "Gisele"]
pesquisa = input ("Qual nome vc quer procurar? ")
for nome in nomes:
    if pesquisa == nome:
        print ("Nome encontrado!")

Qual nome vc quer procurar? Neide
Nome encontrado!

In [27]:
pesquisa = input ("Qual nome vc quer procurar? ")
status = 0
for nome in nomes:
    if pesquisa == nome:
        print ("Nome encontrado!")
        status = 0
        break
    else:
        status = 1
if status == 1:
    print ("Nome não encontrado!")

Qual nome vc quer procurar? Neide
Nome encontrado!

In [28]:
# Faça um programa que pesquisa nome de pessoa de um lista com a letra “a”  em seu nome, em seguida insira os nomes encontrados em uma nova lista

nomes = ["Joao", "Elizete", "Maria", "Pedro", "Ana", "Jose"]
nomes2 = []
for x in nomes:
    if "a" in x:
        nomes2.append (x)
print (nomes2)

['Joao', 'Maria', 'Ana']

In [30]:
nomes = ["Joao", "Elizete", "Maria", "Pedro", "Ana", "Jose"]
nomes2.extend (nomes)
for x in nomes2:
    if "a" in x:
        nomes2.remove (x)
print (nomes2)

['Elizete', 'Pedro', 'Jose', 'Elizete', 'Pedro', 'Jose']

In [31]:
nomes = ["Joao", "Elizete", "Maria", "Pedro", "Ana", "Jose"]
nomes2 = []
for x in nomes:
    if "a" not in x:
        nomes2.append (x)
print (nomes2)

['Elizete', 'Pedro', 'Jose']

In [43]:
# Criar uma lista com números digitados pelo usuário, o programa encerra quando numero digitado for -1:
# 	Mostrar a quantidade de números 7 digitados na lista
# 	Ao final copie toda a lista para uma nova lista e mostre-a em ordem crescente.

lista = []
#lista2 = []
x = int(input("Digite um numero: "))
while x != -1:
    lista.append(x)
    x = int(input("Digite um numero: "))
print (lista.count(7))
#lista2.extend(lista)

lista2 = lista.copy()
lista2.sort()
print (lista2)

Digite um numero: 7
Digite um numero: 5
Digite um numero: 7
Digite um numero: 7
Digite um numero: 7
Digite um numero: -1
4
[5, 7, 7, 7, 7]

In [42]:
lista1 = []
lista2 = []
total = 0
numero = int(input("Digite um numero: "))
while numero != -1:
    lista1.append(numero)
    if numero == 7:
        total = total + 1
    numero = int(input("Digite um numero: "))
print (total)
lista1.sort()
lista2.extend(lista1)
print (lista2)

Digite um numero: 7
Digite um numero: 5
Digite um numero: 7
Digite um numero: 7
Digite um numero: -1
3
[5, 7, 7, 7]

In [37]:
# Faça um programa que pede para o usuario digitar 5 idades e mostrar quantas sao maior de idade

i = 0
total = 0
while i < 5:
    idade = int(input("Digite uma idade: "))
    if idade > 18:
        total = total + 1
    i = i + 1
print (total)

Digite uma idade: 22
Digite uma idade: 15
Digite uma idade: 65
Digite uma idade: 94
Digite uma idade: 12
3

In [38]:
i = 0
total = 0
totidades=0
while i < 5:
    idade = int(input("Digite uma idade: "))
    totidades=totidades + idade
    if idade > 18:
        total = total + 1
    i = i + 1
print (total)
media= totidades/5
print (media)

Digite uma idade: 23
Digite uma idade: 20
Digite uma idade: 15
Digite uma idade: 12
Digite uma idade: 65
3
27.0

In [ ]:
# Faça um programa com uma lista com o nome de 5 cidades. Mostre todos os valores da lista.

# Altere a lista anterior para que ela possa ser alimentada pelo usuário.

In [1]:
cidades = ['Florianopolis','Campinas','Fortaleza','Natal','Curitiba']
cidades

['Florianopolis', 'Campinas', 'Fortaleza', 'Natal', 'Curitiba']

In [2]:
cidades = []
for x in range (5):
    usuario = input ("Digite uma cidade")
    cidades.append(usuario)
print (cidades)

Digite uma cidadeFlorianopolis
Digite uma cidadeCampinas
Digite uma cidadeFortaleza
Digite uma cidadeCuritiba
Digite uma cidadeNatal
['Florianopolis', 'Campinas', 'Fortaleza', 'Curitiba', 'Natal']

In [ ]:
# Programa que conta a quantidade de ocorrências da letra “a” na frase: “ O Brasil é uma república federativa cheia de árvores e gente dizendo adeus!”

In [13]:
text = ("O Brasil é uma república federativa cheia de árvores e gente dizendo adeus!")
total = 0
for l in text:
    if l == 'a' or l == 'á':
        total = total + 1
print (total)

8

In [12]:
text.count('a')

7

In [ ]:
# Dado a lista notas = [0, 0, 9.0, 8.0, 5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5], crie um programa que :
# Informa o tamanho da lista.
# Calcula e mostra a soma de todas as notas.
# Calcula a média de todas as notas.
# Mostre o tipo de notas.
# Mostre os valores da lista iniciando na posição 5 e mostrando por último a posição 11.

In [14]:
notas = [0, 0, 9.0, 8.0, 5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5]

In [15]:
len(notas)

15

In [16]:
sum(notas)

98.0

In [18]:
sum(notas)/len(notas)

6.533333333333333

In [19]:
type(notas)

list

In [21]:
notas[4:11]

[5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0]

In [ ]:
# Dado a lista de  pessoas = ["Maria", "Carlos", "Ana", "Joana", "Pedro","Maria"], faça:
# troque Ana e Joana por Socorro e Mariana.
# Insira mais duas pessoas 
# Insira Juliana entre Maria e Carlos
# Remova Pedro
# Esvaziar a lista e mostrar a lista vazia

In [28]:
pessoas = ["Maria", "Carlos", "Ana", "Joana", "Pedro","Maria"]

In [29]:
pessoas [2:4] = ["Socorro","Mariana"]
pessoas

['Maria', 'Carlos', 'Socorro', 'Mariana', 'Pedro', 'Maria']

In [31]:
pessoas.append('Jose')
pessoas.append('Luis')
pessoas

['Maria', 'Carlos', 'Socorro', 'Mariana', 'Pedro', 'Maria', 'Jose', 'Luis']

In [33]:
pessoas.insert(1,'Juliana')
pessoas

['Maria',
 'Juliana',
 'Carlos',
 'Socorro',
 'Mariana',
 'Pedro',
 'Maria',
 'Jose',
 'Luis']

In [35]:
# ou pop com o numero da posição
pessoas.remove('Pedro')
pessoas

['Maria', 'Juliana', 'Carlos', 'Socorro', 'Mariana', 'Maria', 'Jose', 'Luis']

In [37]:
pessoas.clear ()
pessoas

[]

In [ ]:
# Dado a lista notas = [0, 0, 9.0, 8.0, 5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5], criar uma nova lista que receberá somente as notas acima de 6.0 da lista notas. Mostre os valores da nova lista.

In [38]:
notas = [0, 0, 9.0, 8.0, 5.0, 10.0, 7.0, 7.5, 4.0, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5]

In [39]:
notas2 = []
for x in notas:
    if x > 6.0:
        notas2.append(x)
print (notas2)

[9.0, 8.0, 10.0, 7.0, 7.5, 10.0, 7.0, 7.0, 8.0, 8.0, 7.5]

In [ ]:
# Dado a lista frutas = ["maça", "banana", "uva", "maça", "uva","laranja"] faça:
# Mostre todos os valores da lista usando comprehensions
# Criar a lista números com valores de 1 a 50 usando comprehensions e imprima
# Criar a lista dados com valores de 1 a 100 múltiplos de 5 usando comprehensions e imprima
# Criar uma nova lista frutas02 com valores da lista frutas trocando banana por abacaxi
# Mostre a lista frutas em ordem alfabética
# Mostre a lista frutas em ordem inversa

In [40]:
frutas = ["maça", "banana", "uva", "maça", "uva", "laranja"]

In [42]:
lista1 = [x for x in frutas]
lista1

['maça', 'banana', 'uva', 'maça', 'uva', 'laranja']

In [45]:
numeros = [x for x in range(1,51)]
numeros

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [49]:
dados = [x for x in range((x*5),101)]
dados

TypeError: 'float' object cannot be interpreted as an integer

In [51]:
frutas02 = [x if x != 'banana' else 'abacaxi' for x in frutas]
frutas02

['maça', 'abacaxi', 'uva', 'maça', 'uva', 'laranja']

In [53]:
frutas.sort()
frutas

['banana', 'laranja', 'maça', 'maça', 'uva', 'uva']

In [54]:
frutas.reverse()
frutas

['uva', 'uva', 'maça', 'maça', 'laranja', 'banana']

In [55]:
# Dado a lista [100, 50, 65, 82, 23] mostra a lista por aproximação ao número 50

def minhafuncao(n):
  return abs(n - 50)
numeros = [100, 50, 65, 82, 23]
numeros.sort(key = minhafuncao)
print(numeros)

[50, 65, 23, 82, 100]

# TUPLAS

In [58]:
# Tuplas permitem valores duplicados:
pessoas1 = ("Ana","Zé","Carlos","Tereza", "Ana","Sandro")
print(pessoas1)
print(len(pessoas1))

('Ana', 'Zé', 'Carlos', 'Tereza', 'Ana', 'Sandro')
6

In [ ]:
# Tuplas com um item.
# Se nao fosse pela , Ana seria uma variavel aplicada comum, é a , que caracteriza a tupla neste caso
pessoas2 = ("Ana",)
print(type(pessoas2))

In [59]:
# Acesso as tuplas

carros=("Fusca", "Kombi", "Corcel", "Opala", "Buggy")
print(carros[1])
print(carros[-1])
carros2=("Fusca", "Kombi", "Corcel", "Opala", "Buggy")
print(carros2 [1])
print(carros2 [-1])
print(carros2 [2:5])
print(carros2 [:3])
print(carros2 [1:])
print(carros2 [-4:-1])

Kombi
Buggy
Kombi
Buggy
('Corcel', 'Opala', 'Buggy')
('Fusca', 'Kombi', 'Corcel')
('Kombi', 'Corcel', 'Opala', 'Buggy')
('Kombi', 'Corcel', 'Opala')

In [60]:
# Transformando tuplas
carros=("Fusca", "Kombi", "Corcel", "Opala", "Buggy")
car=list(carros)
print(car)
car[1]="gol"
carros=tuple(car)
print(carros)

['Fusca', 'Kombi', 'Corcel', 'Opala', 'Buggy']
('Fusca', 'gol', 'Corcel', 'Opala', 'Buggy')

In [62]:
# Tupla não aceita append, a inserção deve ser feito por meio da conversão para listas e depois para tupla. Ex:
carros=("Fusca", "Kombi", "Corcel", "Opala", "Buggy")
car=list(carros)
car.append("Prisma")
carros=tuple(car)
print(carros)

('Fusca', 'Kombi', 'Corcel', 'Opala', 'Buggy', 'Prisma')

In [63]:
# Adicione tupla a uma tupla
carros1=("Fusca", "Kombi", "Corcel", "Opala", "Buggy")
carros2=("HB20",)
carros1+= carros2
print(carros1)

('Fusca', 'Kombi', 'Corcel', 'Opala', 'Buggy', 'HB20')

In [64]:
# Remover itens da tupla.
# As tuplas são imutáveis , portanto você não pode remover itens dela, mas pode usar a mesma solução alternativa que usamos para alterar e adicionar itens de tupla:
carros=("Fusca", "Kombi", "Corcel", "Opala", "Buggy")
car=list(carros)
car.remove("Corcel")
carros=tuple(car)
print(carros)

('Fusca', 'Kombi', 'Opala', 'Buggy')

In [66]:
del(carros)   # excluí toda uma tupla
carros

NameError: name 'carros' is not defined

In [67]:
# Descompactar uma tupla
# Podemos extrair os valores de volta para variáveis. Isso é chamado de "desempacotamento":
carros=("Fusca", "Kombi", "Corcel")
(verde, azul, vermelho) = carros
print(azul)
print(verde)
print(vermelho)

Kombi
Fusca
Corcel

In [68]:
# número de variáveis for menor que o número de valores

carros=("Fusca", "Kombi", "Corcel", "BMW","Ferrari")
(carro1, *carro2) = carros
print(carro1)
print(carro2)

carros=("Fusca", "Kombi", "Corcel", "BMW","Ferrari")
(*carro1, carro2) = carros
print(carro1)
print(carro2)

Fusca
['Kombi', 'Corcel', 'BMW', 'Ferrari']
['Fusca', 'Kombi', 'Corcel', 'BMW']
Ferrari

In [69]:
# Imprimindo dados da tupla com LOOPS
carros=("Fusca", "Kombi", "Corcel", "BMW","Ferrari")
for x in carros:
  print(x)
i = 0
while i < len(carros):
  print(carros [i])
  i = i + 1

Fusca
Kombi
Corcel
BMW
Ferrari
Fusca
Kombi
Corcel
BMW
Ferrari

In [70]:
# Concatenação de tuplas
# Para juntar duas ou mais tuplas, você pode usar  + operador:
# EX:
tupla1 = ("a", "b" , "c")
tupla2 = (1, 2, 3)
tupla3 = tupla1 + tupla2
print(tupla3)

('a', 'b', 'c', 1, 2, 3)

In [71]:
pessoas = ("Ana", "Maria", "Carla")
multTupla = pessoas * 2
print(multTupla)

('Ana', 'Maria', 'Carla', 'Ana', 'Maria', 'Carla')