In [1]:
import math

In [2]:
# Área do circulo, r = raio
def area(r):
    return math.pi*(r**2)

print(area(2))

12.566370614359172

In [3]:
raios=[2,5,7.1,0.3,10,44]
areas=[]

In [4]:
# form comum - tradicional
for r in raios:
    areas.append((area(r)))
print(areas)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

In [5]:
# Usando Maps (recebe dois parâmetros: A função e o interável)
areas=map(area,raios)
print(list(areas))
print(list(areas)) #vazia

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]
[]

In [6]:
print (areas)

<map object at 0x000001A981517430>

In [7]:
# Usando lambda em map
print(list(map(lambda r:math.pi*(r**2),raios)))

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

In [8]:
# converte de Celsius para Fahrenheit
cidades=[('Fortaleza',32),('Porto Alegre',18),('SP',21)]
print(cidades)
c_para_f=lambda dado:(dado[0],(9/5)*dado[1]+32)
print(list(map(c_para_f,cidades)))

[('Fortaleza', 32), ('Porto Alegre', 18), ('SP', 21)]
[('Fortaleza', 89.6), ('Porto Alegre', 64.4), ('SP', 69.80000000000001)]

In [9]:
exemplo=["Bem-vindo","para","Simplilearn"]
x=list(map(len,exemplo))
print (x)

[9, 4, 11]

In [ ]:
# Filter
# Filtra dados de uma coleção
# Média com a função mean
# Filter recebe dois parâmetros: função e um iterável 
# A função round() faz arredondamento definindo nº de casas decimais.

In [10]:
import statistics

In [11]:
dados=(1.3,2.7,0.8,4.1,4.3,-0.1)
media=statistics.mean(dados)
print(f'media:{round(media, 2)}')

media:2.18

In [12]:
rs=filter(lambda valor:valor>media,dados)
print(list(rs))

[2.7, 4.1, 4.3]

In [13]:
paises=['Brasil','','Chile','','','Italia']
print(paises)

['Brasil', '', 'Chile', '', '', 'Italia']

In [14]:
res=filter(None,paises)
print(list(res))

['Brasil', 'Chile', 'Italia']

In [15]:
res=filter(lambda pais:len(pais)>0,paises)
print(f'res->{list(res)}')

res->['Brasil', 'Chile', 'Italia']

In [16]:
usuarios = [{"username":'Samuel', "twitters": ["Eu adoro bolo", "Eu adoro pizza"]},
            {"username":'Marta', "twitters": ["Eu amo gatos"]},
            {"username":'Leila', "twitters": []},
            {"username":'Rosa', "twitters": ["Eu adoro bolo", "Eu adoro pizza"]},
            {"username":'Carlos', "twitters": ["Eu amo cachorros"]},
            {"username":'João', "twitters": []},
            {"username":'Fabio', "twitters": []},
            {"username":'Mercedes', "twitters": ["Meu hobby é viajar", "Eu adoro Dorotéia"]}]

In [17]:
print (usuarios)

[{'username': 'Samuel', 'twitters': ['Eu adoro bolo', 'Eu adoro pizza']}, {'username': 'Marta', 'twitters': ['Eu amo gatos']}, {'username': 'Leila', 'twitters': []}, {'username': 'Rosa', 'twitters': ['Eu adoro bolo', 'Eu adoro pizza']}, {'username': 'Carlos', 'twitters': ['Eu amo cachorros']}, {'username': 'João', 'twitters': []}, {'username': 'Fabio', 'twitters': []}, {'username': 'Mercedes', 'twitters': ['Meu hobby é viajar', 'Eu adoro Dorotéia']}]

In [22]:
inativos=filter(lambda tweet:tweet[0], tweet[1] == [])
print(list(map(inativos,usuarios)))

NameError: name 'tweet' is not defined

In [23]:
inativos=list(filter(lambda usuario: len(usuario ['twitters'])==0, usuarios))
print(inativos)

[{'username': 'Leila', 'twitters': []}, {'username': 'João', 'twitters': []}, {'username': 'Fabio', 'twitters': []}]

In [27]:
valores = [10, 4, -1, 3, 5, -9, -11]
pares=list(filter(lambda n: n%2==0, valores))
print (pares)

[10, 4]

In [28]:
ages = [5, 12, 17, 18, 24, 32]
adultos = list(filter(lambda i: i>= 18, ages))
print(adultos)

[18, 24, 32]

In [29]:
# map com filter
nomes=['Vanessa','ana','Maria']
lista=list(map(lambda nome:f'Sua instrutora é {nome}',filter(lambda nome:len(nome)<5,nomes)))
print(lista)

['Sua instrutora é ana']

In [30]:
# REDUCE
# Recebe dois parâmetros, uma função e um iterável.

from functools import reduce

In [31]:
# Queremos 2 * 4 * 5 * 2, que é igual a 80

minha_lista = [2, 4, 5, 2]
def mult(x, y):
    return x * y

In [32]:
produto_total = reduce(mult, minha_lista)
print(produto_total)

80

In [33]:
soma = reduce ((lambda x,y: x+y),[1,2,3,4,5,6,7,8,9,10])
print (soma)

55

In [36]:
minha_lista = [1,2,3,40,5,6,7,8,9,10]
maior = reduce((lambda x,y: x if (x>y) else y), minha_lista)
print (maior)

40

In [ ]:
#Faça um programa que solicite dez números ao usuário, depois disso, exiba todos números pares
# e só então exiba todos os números ímpares. Utilize a função filter para fazer isso.

In [44]:
numeros = []
for n in range(1,11):
    numeros.append(int(input("Digite um numero: ")))

Digite um numero: 5
Digite um numero: 6
Digite um numero: 23
Digite um numero: 15
Digite um numero: 16
Digite um numero: 12
Digite um numero: 17
Digite um numero: 48
Digite um numero: 59
Digite um numero: 35

In [45]:
print (numeros)

[5, 6, 23, 15, 16, 12, 17, 48, 59, 35]

In [46]:
pares = list(filter(lambda p : p%2==0, numeros))
print (pares)
impares = list(filter(lambda i : i%2==1, numeros))
print (impares)

[6, 16, 12, 48]
[5, 23, 15, 17, 59, 35]

In [69]:
# Lista com 10 nomes, criar uma lista com a 1a letra de cada nome
nomes = ['Maria','Elena','Jose','Joao','Pedro','Luis','Fernanda','Luana','Sofia']

In [74]:
lista =list(map(lambda l: l[0], nomes))
print(lista)

['M', 'E', 'J', 'J', 'P', 'L', 'F', 'L', 'S']

In [67]:
nome = ["João","Paulo","ze"]
print(nome[0][0])

J

In [73]:
nome = ["João","Paulo","ze"]
letras = list(map(lambda l: l[0], nome))
print(letras)

['J', 'P', 'z']

In [55]:
# ANY ALL
# all -> VERIFICA SE TODOS OS INTERATIVAS SÃO VERDADEIROS - Zero (igual vazio) é falso
# para 1 elemento que nao seja verdadeiro, ele retorna falso
print(all([0,1,2,3,4,5,6,7]))
print(all([1,2,3,4,5,6,7]))

False
True

In [58]:
nomes=['Carlos','Catarina','Ana']
print(all(nome[0]=='C' for nome in nomes))

False

In [62]:
#Any -> se algum elemento for verdadeiro já retorna true
# para 1 elemento que seja verdadeiro, ele retorna Verdadeiro
print(any([0,0,1]))

True