In [1]:
# !pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql "sqlite:///../notebooks-0921/data/tutorial.db"

In [4]:
%%sql
select * from clientes

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Propietario', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Propietario', 'Mataderos  2312', 'México D.F.', '', '05023', 'México', '(5) 555-3932', ''),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Representante de ventas', '120 Hanover Sq.', 'Londres', '', 'WA1 1DP', 'Reino Unido', '(71) 555-7788', '(71) 555-6750'),
 ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Administrador de pedidos', 'Berguvsvägen  8', 'Luleå', '', 'S-958 22', 'Suecia', '0921-12 34 65', '0921-12 34 67'),
 ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Representante de ventas', 'Forsterstr. 57', 'Mannheim', '', '68306', 'Alemania', '0621-08460', '0621-08924'),
 ('BLONP', 'Blondel père et fils', 'Frédérique Citeaux', 'Gerente de marketing', '24, place Kléber', 'Estrasburgo', '', '67000', 'Francia', '88.60.15.31', '88.60.15.32'),
 ('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Propietario', 'C/ Araquil, 67', 'Madrid', '', '28023', 'España', '(91) 555 22 82', '(91) 555 91 99'),
 ('BONAP', "Bon app'", 'Laurence Lebihan', 'Propietario', '12, rue des Bouchers', 'Marsella', '', '13008', 'Francia', '91.24.45.40', '91.24.45.41'),
 ('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Gerente de contabilidad', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canadá', '(604) 555-4729', '(604) 555-3745'),
 ('BSBEV', "B's Beverages", 'Victoria Ashworth', 'Representante de ventas', 'Fauntleroy Circus', 'Londres', '', 'EC2 5NT', 'Reino Unido', '(71) 555-1212', ''),
 ('CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Agente de ventas', 'Cerrito 333', 'Buenos Aires', '', '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),
 ('CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Gerente de marketing', 'Sierras de Granada 9993', 'México D.F.', '', '05022', 'México', '(5) 555-3392', '(5) 555-7293'),
 ('CHOPS', 'Chop-suey Chinese', 'Yang Wang', 'Propietario', 'Hauptstr. 29', 'Berna', '', '3012', 'Suiza', '0452-076545', ''),
 ('COMMI', 'Comércio Mineiro', 'Pedro Afonso', 'Asistente de ventas', 'Av. dos Lusíadas, 23', 'São Paulo', 'SP', '05432-043', 'Brasil', '(11) 555-7647', ''),
 ('CONSH', 'Consolidated Holdings', 'Elizabeth Brown', 'Representante de ventas', 'Berkeley Gardens\n12  Brewery ', 'Londres', '', 'WX1 6LT', 'Reino Unido', '(71) 555-2282', '(71) 555-9199'),
 ('DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Administrador de pedidos', 'Walserweg 21', 'Aachen', '', '52066', 'Alemania', '0241-039123', '0241-059428'),
 ('DUMON', 'Du monde entier', 'Janine Labrune', 'Propietario', '67, rue des Cinquante Otages', 'Nantes', '', '44000', 'Francia', '40.67.88.88', '40.67.89.89'),
 ('EASTC', 'Eastern Connection', 'Ann Devon', 'Agente de ventas', '35 King George', 'Londres', '', 'WX3 6FW', 'Reino Unido', '(71) 555-0297', '(71) 555-3373'),
 ('ERNSH', 'Ernst Handel', 'Roland Mendel', 'Gerente de ventas', 'Kirchgasse 6', 'Graz', '', '8010', 'Austria', '7675-3425', '7675-3426'),
 ('FAMIA', 'Familia Arquibaldo', 'Aria Cruz', 'Asistente de marketing', 'Rua Orós, 92', 'Sao Paulo', 'SP', '05442-030', 'Brasil', '(11) 555-9857', ''),
 ('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'Gerente de contabilidad', 'C/ Moralzarzal, 86', 'Madrid', '', '28034', 'España', '(91) 555 94 44', '(91) 555 55 93'),
 ('FOLIG', 'Folies gourmandes', 'Martine Rancé', 'Asistente de agente de ventas', '184, chaussée de Tournai', 'Lille', '', '59000', 'Francia', '20.16.10.16', '20.16.10.17'),
 ('FOLKO', 'Folk och fä HB', 'Maria Larsson', 'Propietario', 'Åkergatan 24', 'Bräcke', '', 'S-844 67', 'Suecia', '0695-34 67 21', ''),
 ('FRANK', 'Frankenversand', 'Peter Franken', 'Gerente de marketing', 'Berliner Platz 43', 'München', '', '80805', 'Alemania', '089-0877310', '089-0877451'),
 ('FRANR', 'France restauration', 'Carine Schmitt', 'Gerente de marketing', '54, rue Royale', 'Nantes', '', '44000', 'Francia', '40.32.21.21', '40.32.21.20'),
 ('FRANS', 'Franchi S.p.A.', 'Paolo Accorti', 'Representante de ventas', 'Via Monte Bianco 34', 'Torino', '', '10100', 'Italia', '011-4988260', '011-4988261'),
 ('FURIB', 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez ', 'Gerente de ventas', 'Jardim das rosas n. 32', 'Lisboa', '', '1675', 'Portugal', '(1) 354-2534', '(1) 354-2535'),
 ('GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Gerente de marketing', 'Rambla de Cataluña, 23', 'Barcelona', '', '08022', 'España', '(93) 203 4560', '(93) 203 4561'),
 ('GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Gerente de ventas', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', '(95) 555 82 82', ''),
 ('GOURL', 'Gourmet Lanchonetes', 'André Fonseca', 'Asistente de ventas', 'Av. Brasil, 442', 'Campinas', 'SP', '04876-786', 'Brasil', '(11) 555-9482', ''),
 ('GREAL', 'Great Lakes Food Market', 'Howard Snyder', 'Gerente de marketing', '2732 Baker Blvd.', 'Eugenia', 'OR', '97403', 'Estados Unidos', '(503) 555-7555', ''),
 ('GROSR', 'GROSELLA-Restaurante', 'Manuel Pereira', 'Propietario', '5ª Ave. Los Palos Grandes', 'Caracas', 'DF', '1081', 'Venezuela', '(2) 283-2951', '(2) 283-3397'),
 ('HANAR', 'Hanari Carnes', 'Mario Pontes', 'Gerente de contabilidad', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brasil', '(21) 555-0091', '(21) 555-8765'),
 ('HILAA', 'HILARIÓN-Abastos', 'Carlos Hernández', 'Representante de ventas', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', 'Táchira', '5022', 'Venezuela', '(5) 555-1340', '(5) 555-1948'),
 ('HUNGC', 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Representante de ventas', 'City Center Plaza\n516 Main St.', 'Elgin', 'OR', '97827', 'Estados Unidos', '(503) 555-6874', '(503) 555-2376'),
 ('HUNGO', 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Asistente de ventas', '8 Johnstown Road', 'Cork', 'Co. Cork', '', 'Irlanda', '2967 542', '2967 3333'),
 ('ISLAT', 'Island Trading', 'Helen Bennett', 'Gerente de marketing', 'Garden House\nCrowther Way', 'Cowes', 'Isla de Wight', 'PO31 7PJ', 'Reino Unido', '(198) 555-8888', ''),
 ('KOENE', 'Königlich Essen', 'Philip Cramer', 'Asistente de ventas', 'Maubelstr. 90', 'Brandenburgo', '', '14776', 'Alemania', '0555-09876', ''),
 ('LACOR', "La corne d'abondance", 'Daniel Tonini', 'Representante de ventas', "67, avenue de l'Europe", 'Versalles', '', '78000', 'Francia', '30.59.84.10', '30.59.85.11'),
 ('LAMAI', "La maison d'Asie", 'Annette Roulet', 'Gerente de ventas', '1 rue Alsace-Lorraine', 'Toulouse', '', '31000', 'Francia', '61.77.61.10', '61.77.61.11'),
 ('LAUGB', 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', 'Asistente de marketing', '1900 Oak St.', 'Vancouver', 'BC', 'V3F 2K1', 'Canadá', '(604) 555-3392', '(604) 555-7293'),
 ('LAZYK', 'Lazy K Kountry Store', 'John Steel', 'Gerente de marketing', '12 Orchestra Terrace', 'Walla Walla', 'WA', '99362', 'Estados Unidos', '(509) 555-7969', '(509) 555-6221'),
 ('LEHMS', 'Lehmanns Marktstand', 'Renate Messner', 'Representante de ventas', 'Magazinweg 7', 'Francfurt', '', '60528', 'Alemania', '069-0245984', '069-0245874'),
 ('LETSS', "Let's Stop N Shop", 'Jaime Yorres', 'Propietario', '87 Polk St.\nSuite 5', 'San Francisco', 'CA', '94117', 'Estados Unidos', '(415) 555-5938', ''),
 ('LILAS', 'LILA-Supermercado', 'Carlos González', 'Gerente de contabilidad', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', 'Lara', '3508', 'Venezuela', '(9) 331-6954', '(9) 331-7256'),
 ('LINOD', 'LINO-Delicateses', 'Felipe Izquierdo', 'Propietario', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', 'Nueva Esparta', '4980', 'Venezuela', '(8) 34-56-12', '(8) 34-93-93'),
 ('LONEP', 'Lonesome Pine Restaurant', 'Fran Wilson', 'Gerente de ventas', '89 Chiaroscuro Rd.', 'Portland', 'OR', '97219', 'Estados Unidos', '(503) 555-9573', '(503) 555-9646'),
 ('MAGAA', 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Gerente de marketing', 'Via Ludovico il Moro 22', 'Bérgamo', '', '24100', 'Italia', '035-640230', '035-640231'),
 ('MAISD', 'Maison Dewey', 'Catherine Dewey', 'Agente de ventas', 'Rue Joseph-Bens 532', 'Bruselas', '', 'B-1180', 'Bélgica', '(02) 201 24 67', '(02) 201 24 68'),
 ('MEREP', 'Mère Paillarde', 'Jean Fresnière', 'Asistente de marketing', '43 rue St. Laurent', 'Montreal', 'Québec', 'H1J 1C3', 'Canadá', '(514) 555-8054', '(514) 555-8055'),
 ('MORGK', 'Morgenstern Gesundkost', 'Alexander Feuer', 'Asistente de marketing', 'Heerstr. 22', 'Leipzig', '', '04179', 'Alemania', '0342-023176', ''),
 ('NORTS', 'North/South', 'Simon Crowther', 'Asistente de ventas', 'South House\n300 Queensbridge', 'Londres', '', 'SW7 1RZ', 'Reino Unido', '(71) 555-7733', '(71) 555-2530'),
 ('OCEAN', 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Agente de ventas', 'Ing. Gustavo Moncada 8585\nPiso 20-A', 'Buenos Aires', '', '1010', 'Argentina', '(1) 135-5333', '(1) 135-5535'),
 ('OLDWO', 'Old World Delicatessen', 'Rene Phillips', 'Representante de ventas', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'Estados Unidos', '(907) 555-7584', '(907) 555-2880'),
 ('OTTIK', 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Propietario', 'Mehrheimerstr. 369', 'Köln', '', '50739', 'Alemania', '0221-0644327', '0221-0765721'),
 ('PARIS', 'Paris spécialités', 'Marie Bertrand', 'Propietario', '265, boulevard Charonne', 'París', '', '75012', 'Francia', '(1) 42.34.22.66', '(1) 42.34.22.77'),
 ('PERIC', 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Representante de ventas', 'Calle Dr. Jorge Cash 321', 'México D.F.', '', '05033', 'México', '(5) 552-3745', '(5) 545-3745'),
 ('PICCO', 'Piccolo und mehr', 'Georg Pipps', 'Gerente de ventas', 'Geislweg 14', 'Salzburgo', '', '5020', 'Austria', '6562-9722', '6562-9723'),
 ('PRINI', 'Princesa Isabel Vinhos', 'Isabel de Castro', 'Representante de ventas', 'Estrada da saúde n. 58', 'Lisboa', '', '1756', 'Portugal', '(1) 356-5634', ''),
 ('QUEDE', 'Que Delícia', 'Bernardo Batista', 'Gerente de contabilidad', 'Rua da Panificadora, 12', 'Rio de Janeiro', 'RJ', '02389-673', 'Brasil', '(21) 555-4252', '(21) 555-4545'),
 ('QUEEN', 'Queen Cozinha', 'Lúcia Carvalho', 'Asistente de marketing', 'Alameda dos Canàrios, 891', 'Sao Paulo', 'SP', '05487-020', 'Brasil', '(11) 555-1189', ''),
 ('QUICK', 'QUICK-Stop', 'Horst Kloss', 'Gerente de contabilidad', 'Taucherstraße 10', 'Cunewalde', '', '01307', 'Alemania', '0372-035188', ''),
 ('RANCH', 'Rancho grande', 'Sergio Gutiérrez', 'Representante de ventas', 'Av. del Libertador 900', 'Buenos Aires', '', '1010', 'Argentina', '(1) 123-5555', '(1) 123-5556'),
 ('RATTC', 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Representante agente ventas', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'Estados Unidos', '(505) 555-5939', '(505) 555-3620'),
 ('REGGC', 'Reggiani Caseifici', 'Maurizio Moroni', 'Asistente de ventas', 'Strada Provinciale 124', 'Reggio Emilia', '', '42100', 'Italia', '0522-556721', '0522-556722'),
 ('RICAR', 'Ricardo Adocicados', 'Janete Limeira', 'Asistente de agente de ventas', 'Av. Copacabana, 267', 'Rio de Janeiro', 'RJ', '02389-890', 'Brasil', '(21) 555-3412', ''),
 ('RICSU', 'Richter Supermarkt', 'Michael Holz', 'Gerente de ventas', 'Grenzacherweg 237', 'Génova', '', '1203', 'Suiza', '0897-034214', ''),
 ('ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Gerente de contabilidad', 'Gran Vía, 1', 'Madrid', '', '28001', 'España', '(91) 745 6200', '(91) 745 6210'),
 ('SANTG', 'Santé Gourmet', 'Jonas Bergulfsen', 'Propietario', 'Erling Skakkes gate 78', 'Stavern', '', '4110', 'Noruega', '07-98 92 35', '07-98 92 47'),
 ('SAVEA', 'Save-a-lot Markets', 'Jose Pavarotti', 'Representante de ventas', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'Estados Unidos', '(208) 555-8097', ''),
 ('SEVES', 'Seven Seas Imports', 'Hari Kumar', 'Gerente de ventas', '90 Wadhurst Rd.', 'Londres', '', 'OX15 4NB', 'Reino Unido', '(71) 555-1717', '(71) 555-5646'),
 ('SIMOB', 'Simons bistro', 'Jytte Petersen', 'Propietario', 'Vinbæltet 34', 'København', '', '1734', 'Dinamarca', '31 12 34 56', '31 13 35 57'),
 ('SPECD', 'Spécialités du monde', 'Dominique Perrier', 'Gerente de marketing', '25, rue Lauriston', 'París', '', '75016', 'Francia', '(1) 47.55.60.10', '(1) 47.55.60.20'),
 ('SPLIR', 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Gerente de ventas', 'P.O. Box 555', 'Lander', 'WY', '82520', 'Estados Unidos', '(307) 555-4680', '(307) 555-6525'),
 ('SUPRD', 'Suprêmes délices', 'Pascale Cartrain', 'Gerente de contabilidad', 'Boulevard Tirou, 255', 'Charleroi', '', 'B-6000', 'Bélgica', '(071) 23 67 22 20', '(071) 23 67 22 21'),
 ('THEBI', 'The Big Cheese', 'Liz Nixon', 'Gerente de marketing', '89 Jefferson Way\nSuite 2', 'Portland', 'OR', '97201', 'Estados Unidos', '(503) 555-3612', ''),
 ('THECR', 'The Cracker Box', 'Liu Wong', 'Asistente de marketing', '55 Grizzly Peak Rd.', 'Butte', 'MT', '59801', 'Estados Unidos', '(406) 555-5834', '(406) 555-8083'),
 ('TOMSP', 'Toms Spezialitäten', 'Karin Josephs', 'Gerente de marketing', 'Luisenstr. 48', 'Münster', '', '44087', 'Alemania', '0251-031259', '0251-035695'),
 ('TORTU', 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Propietario', 'Avda. Azteca 123', 'México D.F.', '', '05033', 'México', '(5) 555-2933', ''),
 ('TRADH', 'Tradição Hipermercados', 'Anabela Domingues', 'Representante de ventas', 'Av. Inês de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brasil', '(11) 555-2167', '(11) 555-2168'),
 ('TRAIH', "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', 'Asistente de ventas', '722 DaVinci Blvd.', 'Kirkland', 'WA', '98034', 'Estados Unidos', '(206) 555-8257', '(206) 555-2174'),
 ('VAFFE', 'Vaffeljernet', 'Palle Ibsen', 'Gerente de ventas', 'Smagsløget 45', 'Århus', '', '8200', 'Dinamarca', '86 21 32 43', '86 22 33 44'),
 ('VICTE', 'Victuailles en stock', 'Mary Saveley', 'Agente de ventas', '2, rue du Commerce', 'Lion', '', '69004', 'Francia', '78.32.54.86', '78.32.54.87'),
 ('VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Gerente de contabilidad', "59 rue de l'Abbaye", 'Reims', '', '51100', 'Francia', '26.47.15.10', '26.47.15.11'),
 ('WANDK', 'Die Wandernde Kuh', 'Rita Müller', 'Representante de ventas', 'Adenauerallee 900', 'Stuttgart', '', '70563', 'Alemania', '0711-020361', '0711-035428'),
 ('WARTH', 'Wartian Herkku', 'Pirkko Koskitalo', 'Gerente de contabilidad', 'Torikatu 38', 'Oulu', '', '90110', 'Finlandia', '981-443655', '981-443655'),
 ('WELLI', 'Wellington Importadora', 'Paula Parente', 'Gerente de ventas', 'Rua do Mercado, 12', 'Resende', 'SP', '08737-363', 'Brasil', '(14) 555-8122', ''),
 ('WHITC', 'White Clover Markets', 'Karl Jablonski', 'Propietario', '305 - 14th Ave. S.\nSuite 3B', 'Seattle', 'WA', '98128', 'Estados Unidos', '(206) 555-4112', '(206) 555-4115'),
 ('WILMK', 'Wilman Kala', 'Matti Karttunen', 'Prop./Asistente marketing', 'Keskuskatu 45', 'Helsinki', '', '21240', 'Finlandia', '90-224 8858', '90-224 8858'),
 ('WOLZA', 'Wolski  Zajazd', 'Zbyszek Piestrzeniewicz', 'Propietario', 'ul. Filtrowa 68', 'Warszawa', '', '01-012', 'Polonia', '(26) 642-7012', '(26) 642-7012'),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None)]

In [5]:
%%sql
select Pais, Ciudad from clientes

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Alemania', 'Berlin'),
 ('México', 'México D.F.'),
 ('México', 'México D.F.'),
 ('Reino Unido', 'Londres'),
 ('Suecia', 'Luleå'),
 ('Alemania', 'Mannheim'),
 ('Francia', 'Estrasburgo'),
 ('España', 'Madrid'),
 ('Francia', 'Marsella'),
 ('Canadá', 'Tsawassen'),
 ('Reino Unido', 'Londres'),
 ('Argentina', 'Buenos Aires'),
 ('México', 'México D.F.'),
 ('Suiza', 'Berna'),
 ('Brasil', 'São Paulo'),
 ('Reino Unido', 'Londres'),
 ('Alemania', 'Aachen'),
 ('Francia', 'Nantes'),
 ('Reino Unido', 'Londres'),
 ('Austria', 'Graz'),
 ('Brasil', 'Sao Paulo'),
 ('España', 'Madrid'),
 ('Francia', 'Lille'),
 ('Suecia', 'Bräcke'),
 ('Alemania', 'München'),
 ('Francia', 'Nantes'),
 ('Italia', 'Torino'),
 ('Portugal', 'Lisboa'),
 ('España', 'Barcelona'),
 ('España', 'Sevilla'),
 ('Brasil', 'Campinas'),
 ('Estados Unidos', 'Eugenia'),
 ('Venezuela', 'Caracas'),
 ('Brasil', 'Rio de Janeiro'),
 ('Venezuela', 'San Cristóbal'),
 ('Estados Unidos', 'Elgin'),
 ('Irlanda', 'Cork'),
 ('Reino Unido', 'Cowes'),
 ('Alemania', 'Brandenburgo'),
 ('Francia', 'Versalles'),
 ('Francia', 'Toulouse'),
 ('Canadá', 'Vancouver'),
 ('Estados Unidos', 'Walla Walla'),
 ('Alemania', 'Francfurt'),
 ('Estados Unidos', 'San Francisco'),
 ('Venezuela', 'Barquisimeto'),
 ('Venezuela', 'I. de Margarita'),
 ('Estados Unidos', 'Portland'),
 ('Italia', 'Bérgamo'),
 ('Bélgica', 'Bruselas'),
 ('Canadá', 'Montreal'),
 ('Alemania', 'Leipzig'),
 ('Reino Unido', 'Londres'),
 ('Argentina', 'Buenos Aires'),
 ('Estados Unidos', 'Anchorage'),
 ('Alemania', 'Köln'),
 ('Francia', 'París'),
 ('México', 'México D.F.'),
 ('Austria', 'Salzburgo'),
 ('Portugal', 'Lisboa'),
 ('Brasil', 'Rio de Janeiro'),
 ('Brasil', 'Sao Paulo'),
 ('Alemania', 'Cunewalde'),
 ('Argentina', 'Buenos Aires'),
 ('Estados Unidos', 'Albuquerque'),
 ('Italia', 'Reggio Emilia'),
 ('Brasil', 'Rio de Janeiro'),
 ('Suiza', 'Génova'),
 ('España', 'Madrid'),
 ('Noruega', 'Stavern'),
 ('Estados Unidos', 'Boise'),
 ('Reino Unido', 'Londres'),
 ('Dinamarca', 'København'),
 ('Francia', 'París'),
 ('Estados Unidos', 'Lander'),
 ('Bélgica', 'Charleroi'),
 ('Estados Unidos', 'Portland'),
 ('Estados Unidos', 'Butte'),
 ('Alemania', 'Münster'),
 ('México', 'México D.F.'),
 ('Brasil', 'Sao Paulo'),
 ('Estados Unidos', 'Kirkland'),
 ('Dinamarca', 'Århus'),
 ('Francia', 'Lion'),
 ('Francia', 'Reims'),
 ('Alemania', 'Stuttgart'),
 ('Finlandia', 'Oulu'),
 ('Brasil', 'Resende'),
 ('Estados Unidos', 'Seattle'),
 ('Finlandia', 'Helsinki'),
 ('Polonia', 'Warszawa'),
 ('España', 'Barcelona'),
 ('España', 'Barcelona'),
 ('España', 'Barcelona'),
 ('España', 'Barcelona')]

In [6]:
%%sql
select distinct Pais, Ciudad from clientes

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Alemania', 'Berlin'),
 ('México', 'México D.F.'),
 ('Reino Unido', 'Londres'),
 ('Suecia', 'Luleå'),
 ('Alemania', 'Mannheim'),
 ('Francia', 'Estrasburgo'),
 ('España', 'Madrid'),
 ('Francia', 'Marsella'),
 ('Canadá', 'Tsawassen'),
 ('Argentina', 'Buenos Aires'),
 ('Suiza', 'Berna'),
 ('Brasil', 'São Paulo'),
 ('Alemania', 'Aachen'),
 ('Francia', 'Nantes'),
 ('Austria', 'Graz'),
 ('Brasil', 'Sao Paulo'),
 ('Francia', 'Lille'),
 ('Suecia', 'Bräcke'),
 ('Alemania', 'München'),
 ('Italia', 'Torino'),
 ('Portugal', 'Lisboa'),
 ('España', 'Barcelona'),
 ('España', 'Sevilla'),
 ('Brasil', 'Campinas'),
 ('Estados Unidos', 'Eugenia'),
 ('Venezuela', 'Caracas'),
 ('Brasil', 'Rio de Janeiro'),
 ('Venezuela', 'San Cristóbal'),
 ('Estados Unidos', 'Elgin'),
 ('Irlanda', 'Cork'),
 ('Reino Unido', 'Cowes'),
 ('Alemania', 'Brandenburgo'),
 ('Francia', 'Versalles'),
 ('Francia', 'Toulouse'),
 ('Canadá', 'Vancouver'),
 ('Estados Unidos', 'Walla Walla'),
 ('Alemania', 'Francfurt'),
 ('Estados Unidos', 'San Francisco'),
 ('Venezuela', 'Barquisimeto'),
 ('Venezuela', 'I. de Margarita'),
 ('Estados Unidos', 'Portland'),
 ('Italia', 'Bérgamo'),
 ('Bélgica', 'Bruselas'),
 ('Canadá', 'Montreal'),
 ('Alemania', 'Leipzig'),
 ('Estados Unidos', 'Anchorage'),
 ('Alemania', 'Köln'),
 ('Francia', 'París'),
 ('Austria', 'Salzburgo'),
 ('Alemania', 'Cunewalde'),
 ('Estados Unidos', 'Albuquerque'),
 ('Italia', 'Reggio Emilia'),
 ('Suiza', 'Génova'),
 ('Noruega', 'Stavern'),
 ('Estados Unidos', 'Boise'),
 ('Dinamarca', 'København'),
 ('Estados Unidos', 'Lander'),
 ('Bélgica', 'Charleroi'),
 ('Estados Unidos', 'Butte'),
 ('Alemania', 'Münster'),
 ('Estados Unidos', 'Kirkland'),
 ('Dinamarca', 'Århus'),
 ('Francia', 'Lion'),
 ('Francia', 'Reims'),
 ('Alemania', 'Stuttgart'),
 ('Finlandia', 'Oulu'),
 ('Brasil', 'Resende'),
 ('Estados Unidos', 'Seattle'),
 ('Finlandia', 'Helsinki'),
 ('Polonia', 'Warszawa')]

In [7]:
%%sql
select distinct Pais, Ciudad from clientes
order by Pais, Ciudad
limit 5

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Alemania', 'Aachen'),
 ('Alemania', 'Berlin'),
 ('Alemania', 'Brandenburgo'),
 ('Alemania', 'Cunewalde'),
 ('Alemania', 'Francfurt')]

In [8]:
%%sql
select distinct Pais, Ciudad from clientes
limit 5

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Alemania', 'Berlin'),
 ('México', 'México D.F.'),
 ('Reino Unido', 'Londres'),
 ('Suecia', 'Luleå'),
 ('Alemania', 'Mannheim')]

In [9]:
%%sql
select *
from sqlite_master

-- Comentarios no SQL (no lugar de #)

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('table', 'Clientes', 'Clientes', 50, 'CREATE TABLE "Clientes" (\n\t`IdCliente`\tTEXT,\n\t`NombreCompañia`\tTEXT,\n\t`NombreContacto`\tTEXT,\n\t`CargoContacto`\tTEXT,\n\t`Direccion`\tTEXT,\n\t`Ciudad`\tTEXT,\n\t`Region`\tTEXT,\n\t`CodPostal`\tTEXT,\n\t`Pais`\tTEXT,\n\t`Telefono`\tTEXT,\n\t`Fax`\tTEXT\n)'),
 ('table', 'Proveedores', 'Proveedores', 20, 'CREATE TABLE "Proveedores" (\n\t`IdProveedor`\tTEXT,\n\t`NombreCompañia`\tTEXT,\n\t`NombreContacto`\tTEXT,\n\t`CargoContacto`\tTEXT,\n\t`Direccion`\tTEXT,\n\t`Ciudad`\tTEXT,\n\t`Region`\tTEXT,\n\t`CodPostal`\tTEXT,\n\t`Pais`\tTEXT,\n\t`Teléfono`\tTEXT,\n\t`Fax`\tTEXT,\n\t`PaginaPrincipal`\tTEXT\n)'),
 ('table', 'DetallePedido', 'DetallePedido', 2, 'CREATE TABLE "DetallePedido" (\n\t`IdPedido`\tTEXT,\n\t`IdProducto`\tTEXT,\n\t`PrecioUnidad`\tREAL,\n\t`Cantidad`\tINTEGER,\n\t`Descuento`\tTEXT\n)'),
 ('table', 'Productos', 'Productos', 4, 'CREATE TABLE "Productos" (\n\t`IdProducto`\tTEXT,\n\t`NombreProducto`\tTEXT,\n\t`IdProveedor`\tTEXT,\n\t`CantidadPorUnidad`\tINTEGER,\n\t`PrecioUnidad`\tREAL,\n\t`UnidadesEnExistencia`\tINTEGER,\n\t`UnidadesEnPedido`\tINTEGER,\n\t`NivelNuevoPedido`\tTEXT,\n\t`Suspendido`\tTEXT,\n\t`fds`\tTEXT\n)'),
 ('table', 'Pedidos', 'Pedidos', 17, 'CREATE TABLE "Pedidos" (\n\t`IdPedido`\tTEXT,\n\t`IdCliente`\tTEXT,\n\t`IdEmpleado`\tTEXT,\n\t`FechaPedido`\tTEXT,\n\t`FechaEntrega`\tTEXT,\n\t`Fecha ... (68 characters truncated) ... onDestinatario`\tTEXT,\n\t`CiudadDestinatario`\tTEXT,\n\t`RegionDestinatario`\tTEXT,\n\t`CodPostalDestinatario`\tTEXT,\n\t`PaisDestinatario`\tTEXT\n)'),
 ('table', 'Empleados', 'Empleados', 58, 'CREATE TABLE "Empleados" (\n\t`IdEmpleado`\tTEXT,\n\t`Apellidos`\tTEXT,\n\t`Nombre`\tTEXT,\n\t`Cargo`\tTEXT,\n\t`Tratamiento`\tTEXT,\n\t`FechaNacimie ... (57 characters truncated) ... tTEXT,\n\t`Ciudad`\tTEXT,\n\t`Region`\tTEXT,\n\t`CodPostal`\tTEXT,\n\t`Pais`\tTEXT,\n\t`TelDomicilio`\tTEXT,\n\t`Extension`\tTEXT,\n\t`Jefe`\tTEXT\n)'),
 ('table', 'currency', 'currency', 63, 'CREATE TABLE "currency" (\n\t`ID`\tINTEGER,\n\t`code`\tTEXT\n)'),
 ('table', 'Clients', 'Clients', 62, 'CREATE TABLE Clients(\n  IdCliente TEXT,\n  "NombreCompañia" TEXT,\n  NombreContacto TEXT,\n  CargoContacto TEXT,\n  Direccion TEXT,\n  Ciudad TEXT,\n  Region TEXT,\n  CodPostal TEXT,\n  Pais TEXT,\n  Telefono TEXT,\n  Fax TEXT\n)'),
 ('view', 'PedidosEspaña', 'PedidosEspaña', 0, "CREATE VIEW PedidosEspaña as\nselect NombreCompañia, p.*\nfrom Pedidos p inner join Clientes c on c.IdCliente = p.IdCliente\nwhere País = 'España'")]

In [10]:
%%sql
select *
from Clientes
where Pais = 'España'

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Propietario', 'C/ Araquil, 67', 'Madrid', '', '28023', 'España', '(91) 555 22 82', '(91) 555 91 99'),
 ('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'Gerente de contabilidad', 'C/ Moralzarzal, 86', 'Madrid', '', '28034', 'España', '(91) 555 94 44', '(91) 555 55 93'),
 ('GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Gerente de marketing', 'Rambla de Cataluña, 23', 'Barcelona', '', '08022', 'España', '(93) 203 4560', '(93) 203 4561'),
 ('GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Gerente de ventas', 'C/ Romero, 33', 'Sevilla', '', '41101', 'España', '(95) 555 82 82', ''),
 ('ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Gerente de contabilidad', 'Gran Vía, 1', 'Madrid', '', '28001', 'España', '(91) 745 6200', '(91) 745 6210'),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None)]

In [12]:
%%sql
select distinct Ciudad
from Clientes
where Pais = 'España'

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Madrid',), ('Barcelona',), ('Sevilla',)]

In [13]:
%%sql
select count (*)
from Clientes
where Pais = 'España'

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[(9,)]

In [14]:
%%sql
select count (*) num_clientes
from Clientes
where Pais = 'España'

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[(9,)]

In [15]:
%%sql
select count(distinct Ciudad) num_ciudades #cambiar los alias
from Clientes c #cambia el nombre de la tabla
where Pais = 'España'

 * sqlite:///../notebooks-0921/data/tutorial.db
(sqlite3.OperationalError) near "#cambiar": syntax error
[SQL: select count(distinct Ciudad) num_ciudades #cambiar los alias
from Clientes c #cambia el nombre de la tabla
where Pais = 'España']
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [16]:
%%sql
select *
from Productos

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('1', 'Té Dharamsala', '1', '10 cajas x 20 bolsas', 18.0, 39, 0, '10', 'False', '2131.0000'),
 ('2', 'Cerveza tibetana Barley', '1', '24 - bot. 12 l', 19.0, 17, 40, '25', 'False', ''),
 ('3', 'Sirope de regaliz', '1', '12 - bot. 550 ml', 10.0, 13, 70, '25', 'False', ''),
 ('4', 'Especias Cajun del chef Anton', '2', '48 - frascos 6 l', 22.0, 53, 0, '0', 'False', ''),
 ('5', 'Mezcla Gumbo del chef Anton', '2', '36 cajas', 21.35, 0, 0, '0', 'True', ''),
 ('6', 'Mermelada de grosellas de la abuela', '3', '12 - frascos 8 l', 25.0, 120, 0, '25', 'False', ''),
 ('7', 'Peras secas orgánicas del tío Bob', '3', '12 - paq. 1 kg', 30.0, 15, 0, '10', 'False', ''),
 ('8', 'Salsa de arándanos Northwoods', '3', '12 - frascos 12 l', 40.0, 6, 0, '0', 'False', ''),
 ('9', 'Buey Mishi Kobe', '4', '18 - paq. 500 g', 97.0, 29, 0, '0', 'True', ''),
 ('10', 'Pez espada', '4', '12 - frascos 200 ml', 31.0, 31, 0, '0', 'False', ''),
 ('11', 'Queso Cabrales', '5', 'paq. 1 kg', 21.0, 22, 30, '30', 'False', ''),
 ('12', 'Queso Manchego La Pastora', '5', '10 - paq. 500 g', 38.0, 86, 0, '0', 'False', ''),
 ('13', 'Algas Konbu', '6', 'caja 2 kg', 6.0, 24, 0, '5', 'False', ''),
 ('14', 'Cuajada de judías', '6', '40 - paq. 100 g', 23.25, 35, 0, '0', 'False', ''),
 ('15', 'Salsa de soja baja en sodio', '6', '24 - bot. 250 ml', 15.5, 39, 0, '5', 'False', ''),
 ('16', 'Postre de merengue Pavlova', '7', '32 - cajas 500 g', 17.45, 29, 0, '10', 'False', ''),
 ('17', 'Cordero Alice Springs', '7', '20 - latas 1 kg', 39.0, 0, 0, '0', 'True', ''),
 ('18', 'Langostinos tigre Carnarvon', '7', 'paq. 16 kg', 62.5, 42, 0, '0', 'False', ''),
 ('19', 'Pastas de té de chocolate', '8', '10 cajas x 12 piezas', 9.2, 25, 0, '5', 'False', ''),
 ('20', "Mermelada de Sir Rodney's", '8', '30 cajas regalo', 81.0, 40, 0, '0', 'False', ''),
 ('21', "Bollos de Sir Rodney's", '8', '24 paq. x 4 piezas', 10.0, 3, 40, '5', 'False', ''),
 ('22', "Pan de centeno crujiente estilo Gustaf's", '9', '24 - paq. 500 g', 21.0, 104, 0, '25', 'False', ''),
 ('23', 'Pan fino', '9', '12 - paq. 250 g', 9.0, 61, 0, '25', 'False', ''),
 ('24', 'Refresco Guaraná Fantástica', '10', '12 - latas 355 ml', 4.5, 20, 0, '0', 'True', ''),
 ('25', 'Crema de chocolate y nueces NuNuCa', '11', '20 - vasos  450 g', 14.0, 76, 0, '30', 'False', ''),
 ('26', 'Ositos de goma Gumbär', '11', '100 - bolsas 250 g', 31.23, 15, 0, '0', 'False', ''),
 ('27', 'Chocolate Schoggi', '11', '100 - piezas 100 g', 43.9, 49, 0, '30', 'False', ''),
 ('28', 'Col fermentada Rössle', '12', '25 - latas 825 g', 45.6, 26, 0, '0', 'True', ''),
 ('29', 'Salchicha Thüringer', '12', '50 bolsas x 30 salch', 123.79, 0, 0, '0', 'True', ''),
 ('30', 'Arenque blanco del noroeste', '13', '10 - vasos 200 g', 25.89, 10, 0, '15', 'False', ''),
 ('31', 'Queso gorgonzola Telino', '14', '12 - paq. 100 g', 12.5, 0, 70, '20', 'False', ''),
 ('32', 'Queso Mascarpone Fabioli', '14', '24 - paq. 200 g', 32.0, 9, 40, '25', 'False', ''),
 ('33', 'Queso de cabra', '15', '500 g', 2.5, 112, 0, '20', 'False', ''),
 ('34', 'Cerveza Sasquatch', '16', '24 - bot. 12 l', 14.0, 111, 0, '15', 'False', ''),
 ('35', 'Cerveza negra Steeleye', '16', '24 - bot. 12 l', 18.0, 20, 0, '15', 'False', ''),
 ('36', 'Escabeche de arenque', '17', '24 - frascos 250 g', 19.0, 112, 0, '20', 'False', ''),
 ('37', 'Salmón ahumado Gravad', '17', '12 - paq. 500 g', 26.0, 11, 50, '25', 'False', ''),
 ('38', 'Vino Côte de Blaye', '18', '12 - bot. 75 cl', 263.5, 17, 0, '15', 'False', ''),
 ('39', 'Licor verde Chartreuse', '18', '750 cc por bot.', 18.0, 69, 0, '5', 'False', ''),
 ('40', 'Carne de cangrejo de Boston', '19', '24 - latas 4 l', 18.4, 123, 0, '30', 'False', ''),
 ('41', 'Crema de almejas estilo Nueva Inglaterra', '19', '12 - latas 12 l', 9.65, 85, 0, '10', 'False', ''),
 ('42', 'Tallarines de Singapur', '20', '32 - 1 kg paq.', 14.0, 26, 0, '0', 'True', ''),
 ('43', 'Café de Malasia', '20', '16 - latas 500 g', 46.0, 17, 10, '25', 'False', ''),
 ('44', 'Azúcar negra Malacca', '20', '20 - bolsas 2 kg', 19.45, 27, 0, '15', 'False', ''),
 ('45', 'Arenque ahumado', '21', 'paq. 1k', 9.5, 5, 70, '15', 'False', ''),
 ('46', 'Arenque salado', '21', '4 - vasos 450 g', 12.0, 95, 0, '0', 'False', ''),
 ('47', 'Galletas Zaanse', '22', '10 - cajas 4 l', 9.5, 36, 0, '0', 'False', ''),
 ('48', 'Chocolate holandés', '22', '10 paq.', 12.75, 15, 70, '25', 'False', ''),
 ('49', 'Regaliz', '23', '24 - paq. 50 g', 20.0, 10, 60, '15', 'False', ''),
 ('50', 'Chocolate blanco', '23', '12 - barras 100 g', 16.25, 65, 0, '30', 'False', ''),
 ('51', 'Manzanas secas Manjimup', '24', '50 - paq. 300 g', 53.0, 20, 0, '10', 'False', ''),
 ('52', 'Cereales para Filo', '24', '16 - cajas 2 kg', 7.0, 38, 0, '25', 'False', ''),
 ('53', 'Empanada de carne', '24', '48 porc.', 32.8, 0, 0, '0', 'True', ''),
 ('54', 'Empanada de cerdo', '25', '16 tartas', 7.45, 21, 0, '10', 'False', ''),
 ('55', 'Paté chino', '25', '24 cajas x 2 tartas', 24.0, 115, 0, '20', 'False', ''),
 ('56', 'Gnocchi de la abuela Alicia', '26', '24 - paq. 250 g', 38.0, 21, 10, '30', 'False', ''),
 ('57', 'Raviolis Angelo', '26', '24 - paq. 250 g', 19.5, 36, 0, '20', 'False', ''),
 ('58', 'Caracoles de Borgoña', '27', '24 porc.', 13.25, 62, 0, '20', 'False', ''),
 ('59', 'Raclet de queso Courdavault', '28', 'paq. 5 kg', 55.0, 79, 0, '0', 'False', ''),
 ('60', 'Camembert Pierrot', '28', '15 - paq. 300 g', 34.0, 19, 0, '0', 'False', ''),
 ('61', 'Sirope de arce', '29', '24 - bot. 500 ml', 28.5, 113, 0, '25', 'False', ''),
 ('62', 'Tarta de azúcar', '29', '48 tartas', 49.3, 17, 0, '0', 'False', ''),
 ('63', 'Sandwich de vegetales', '7', '15 - frascos 625 g', 43.9, 24, 0, '5', 'False', ''),
 ('64', 'Bollos de pan de Wimmer', '12', '20 bolsas x 4 porc.', 33.25, 22, 80, '30', 'False', ''),
 ('65', 'Salsa de pimiento picante de Luisiana', '2', '32 - bot. 8 l', 21.05, 76, 0, '0', 'False', ''),
 ('66', 'Especias picantes de Luisiana', '2', '24 - frascos 8 l', 17.0, 4, 100, '20', 'False', ''),
 ('67', 'Cerveza Laughing Lumberjack', '16', '24 - bot. 12 l', 14.0, 52, 0, '10', 'False', ''),
 ('68', 'Barras de pan de Escocia', '8', '10 cajas x 8 porc.', 12.5, 6, 10, '15', 'False', ''),
 ('69', 'Queso Gudbrandsdals', '15', 'paq. 10 kg', 36.0, 26, 0, '15', 'False', ''),
 ('70', 'Cerveza Outback', '7', '24 - bot. 355 ml', 15.0, 15, 10, '30', 'False', ''),
 ('71', 'Crema de queso Fløtemys', '15', '10 - paq. 500 g', 21.5, 26, 0, '0', 'False', ''),
 ('72', 'Queso Mozzarella Giovanni', '14', '24 - paq. 200 g', 34.8, 14, 0, '0', 'False', ''),
 ('73', 'Caviar rojo', '17', '24 - frascos150 g', 15.0, 101, 0, '5', 'False', ''),
 ('74', 'Queso de soja Longlife', '4', 'paq. 5 kg', 10.0, 4, 20, '5', 'False', ''),
 ('75', 'Cerveza Klosterbier Rhönbräu', '12', '24 - bot. 0,5 l', 7.75, 125, 0, '25', 'False', ''),
 ('76', 'Licor Cloudberry', '23', '500 ml', 18.0, 57, 0, '20', 'False', ''),
 ('77', 'Salsa verde original Frankfurter', '12', '12 cajas', 13.0, 32, 0, '15', 'False', '')]

In [17]:
%%sql
select *
from Productos
limit 20

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('1', 'Té Dharamsala', '1', '10 cajas x 20 bolsas', 18.0, 39, 0, '10', 'False', '2131.0000'),
 ('2', 'Cerveza tibetana Barley', '1', '24 - bot. 12 l', 19.0, 17, 40, '25', 'False', ''),
 ('3', 'Sirope de regaliz', '1', '12 - bot. 550 ml', 10.0, 13, 70, '25', 'False', ''),
 ('4', 'Especias Cajun del chef Anton', '2', '48 - frascos 6 l', 22.0, 53, 0, '0', 'False', ''),
 ('5', 'Mezcla Gumbo del chef Anton', '2', '36 cajas', 21.35, 0, 0, '0', 'True', ''),
 ('6', 'Mermelada de grosellas de la abuela', '3', '12 - frascos 8 l', 25.0, 120, 0, '25', 'False', ''),
 ('7', 'Peras secas orgánicas del tío Bob', '3', '12 - paq. 1 kg', 30.0, 15, 0, '10', 'False', ''),
 ('8', 'Salsa de arándanos Northwoods', '3', '12 - frascos 12 l', 40.0, 6, 0, '0', 'False', ''),
 ('9', 'Buey Mishi Kobe', '4', '18 - paq. 500 g', 97.0, 29, 0, '0', 'True', ''),
 ('10', 'Pez espada', '4', '12 - frascos 200 ml', 31.0, 31, 0, '0', 'False', ''),
 ('11', 'Queso Cabrales', '5', 'paq. 1 kg', 21.0, 22, 30, '30', 'False', ''),
 ('12', 'Queso Manchego La Pastora', '5', '10 - paq. 500 g', 38.0, 86, 0, '0', 'False', ''),
 ('13', 'Algas Konbu', '6', 'caja 2 kg', 6.0, 24, 0, '5', 'False', ''),
 ('14', 'Cuajada de judías', '6', '40 - paq. 100 g', 23.25, 35, 0, '0', 'False', ''),
 ('15', 'Salsa de soja baja en sodio', '6', '24 - bot. 250 ml', 15.5, 39, 0, '5', 'False', ''),
 ('16', 'Postre de merengue Pavlova', '7', '32 - cajas 500 g', 17.45, 29, 0, '10', 'False', ''),
 ('17', 'Cordero Alice Springs', '7', '20 - latas 1 kg', 39.0, 0, 0, '0', 'True', ''),
 ('18', 'Langostinos tigre Carnarvon', '7', 'paq. 16 kg', 62.5, 42, 0, '0', 'False', ''),
 ('19', 'Pastas de té de chocolate', '8', '10 cajas x 12 piezas', 9.2, 25, 0, '5', 'False', ''),
 ('20', "Mermelada de Sir Rodney's", '8', '30 cajas regalo', 81.0, 40, 0, '0', 'False', '')]

In [18]:
%%sql
select NombreProducto producto, PrecioUnidad precio
from Productos
order by PrecioUnidad desc

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Vino Côte de Blaye', 263.5),
 ('Salchicha Thüringer', 123.79),
 ('Buey Mishi Kobe', 97.0),
 ("Mermelada de Sir Rodney's", 81.0),
 ('Langostinos tigre Carnarvon', 62.5),
 ('Raclet de queso Courdavault', 55.0),
 ('Manzanas secas Manjimup', 53.0),
 ('Tarta de azúcar', 49.3),
 ('Café de Malasia', 46.0),
 ('Col fermentada Rössle', 45.6),
 ('Chocolate Schoggi', 43.9),
 ('Sandwich de vegetales', 43.9),
 ('Salsa de arándanos Northwoods', 40.0),
 ('Cordero Alice Springs', 39.0),
 ('Queso Manchego La Pastora', 38.0),
 ('Gnocchi de la abuela Alicia', 38.0),
 ('Queso Gudbrandsdals', 36.0),
 ('Queso Mozzarella Giovanni', 34.8),
 ('Camembert Pierrot', 34.0),
 ('Bollos de pan de Wimmer', 33.25),
 ('Empanada de carne', 32.8),
 ('Queso Mascarpone Fabioli', 32.0),
 ('Ositos de goma Gumbär', 31.23),
 ('Pez espada', 31.0),
 ('Peras secas orgánicas del tío Bob', 30.0),
 ('Sirope de arce', 28.5),
 ('Salmón ahumado Gravad', 26.0),
 ('Arenque blanco del noroeste', 25.89),
 ('Mermelada de grosellas de la abuela', 25.0),
 ('Paté chino', 24.0),
 ('Cuajada de judías', 23.25),
 ('Especias Cajun del chef Anton', 22.0),
 ('Crema de queso Fløtemys', 21.5),
 ('Mezcla Gumbo del chef Anton', 21.35),
 ('Salsa de pimiento picante de Luisiana', 21.05),
 ('Queso Cabrales', 21.0),
 ("Pan de centeno crujiente estilo Gustaf's", 21.0),
 ('Regaliz', 20.0),
 ('Raviolis Angelo', 19.5),
 ('Azúcar negra Malacca', 19.45),
 ('Cerveza tibetana Barley', 19.0),
 ('Escabeche de arenque', 19.0),
 ('Carne de cangrejo de Boston', 18.4),
 ('Té Dharamsala', 18.0),
 ('Cerveza negra Steeleye', 18.0),
 ('Licor verde Chartreuse', 18.0),
 ('Licor Cloudberry', 18.0),
 ('Postre de merengue Pavlova', 17.45),
 ('Especias picantes de Luisiana', 17.0),
 ('Chocolate blanco', 16.25),
 ('Salsa de soja baja en sodio', 15.5),
 ('Cerveza Outback', 15.0),
 ('Caviar rojo', 15.0),
 ('Crema de chocolate y nueces NuNuCa', 14.0),
 ('Cerveza Sasquatch', 14.0),
 ('Tallarines de Singapur', 14.0),
 ('Cerveza Laughing Lumberjack', 14.0),
 ('Caracoles de Borgoña', 13.25),
 ('Salsa verde original Frankfurter', 13.0),
 ('Chocolate holandés', 12.75),
 ('Queso gorgonzola Telino', 12.5),
 ('Barras de pan de Escocia', 12.5),
 ('Arenque salado', 12.0),
 ('Sirope de regaliz', 10.0),
 ("Bollos de Sir Rodney's", 10.0),
 ('Queso de soja Longlife', 10.0),
 ('Crema de almejas estilo Nueva Inglaterra', 9.65),
 ('Arenque ahumado', 9.5),
 ('Galletas Zaanse', 9.5),
 ('Pastas de té de chocolate', 9.2),
 ('Pan fino', 9.0),
 ('Cerveza Klosterbier Rhönbräu', 7.75),
 ('Empanada de cerdo', 7.45),
 ('Cereales para Filo', 7.0),
 ('Algas Konbu', 6.0),
 ('Refresco Guaraná Fantástica', 4.5),
 ('Queso de cabra', 2.5)]

In [19]:
%%sql
select NombreProducto producto, PrecioUnidad precio
from Productos
order by PrecioUnidad desc
limit 5

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Vino Côte de Blaye', 263.5),
 ('Salchicha Thüringer', 123.79),
 ('Buey Mishi Kobe', 97.0),
 ("Mermelada de Sir Rodney's", 81.0),
 ('Langostinos tigre Carnarvon', 62.5)]

In [20]:
%%sql
select Pais, count(*) num_clientes
from Clientes
group by Pais

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Alemania', 11),
 ('Argentina', 3),
 ('Austria', 2),
 ('Brasil', 9),
 ('Bélgica', 2),
 ('Canadá', 3),
 ('Dinamarca', 2),
 ('España', 9),
 ('Estados Unidos', 13),
 ('Finlandia', 2),
 ('Francia', 11),
 ('Irlanda', 1),
 ('Italia', 3),
 ('México', 5),
 ('Noruega', 1),
 ('Polonia', 1),
 ('Portugal', 2),
 ('Reino Unido', 7),
 ('Suecia', 2),
 ('Suiza', 2),
 ('Venezuela', 4)]

In [21]:
%%sql
select Pais, count(*) num_clientes
from Clientes
group by Pais
order by num_clientes desc

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Estados Unidos', 13),
 ('Francia', 11),
 ('Alemania', 11),
 ('España', 9),
 ('Brasil', 9),
 ('Reino Unido', 7),
 ('México', 5),
 ('Venezuela', 4),
 ('Italia', 3),
 ('Canadá', 3),
 ('Argentina', 3),
 ('Suiza', 2),
 ('Suecia', 2),
 ('Portugal', 2),
 ('Finlandia', 2),
 ('Dinamarca', 2),
 ('Bélgica', 2),
 ('Austria', 2),
 ('Polonia', 1),
 ('Noruega', 1),
 ('Irlanda', 1)]

In [22]:
%%sql
select max (PrecioUnidad) max_price, min (PrecioUnidad) min_price, round(avg(PrecioUnidad)) avg_price
from Productos
limit 20

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[(263.5, 2.5, 29.0)]

In [23]:
%%sql
select max (PrecioUnidad) max_price, min (PrecioUnidad) min_price, round(avg(PrecioUnidad)) avg_price
from Productos
group by IdProveedor
order by IdProveedor

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[(19.0, 10.0, 16.0),
 (4.5, 4.5, 5.0),
 (43.9, 14.0, 30.0),
 (123.79, 7.75, 45.0),
 (25.89, 25.89, 26.0),
 (34.8, 12.5, 26.0),
 (36.0, 2.5, 20.0),
 (18.0, 14.0, 15.0),
 (26.0, 15.0, 20.0),
 (263.5, 18.0, 141.0),
 (18.4, 9.65, 14.0),
 (22.0, 17.0, 20.0),
 (46.0, 14.0, 26.0),
 (12.0, 9.5, 11.0),
 (12.75, 9.5, 11.0),
 (20.0, 16.25, 18.0),
 (53.0, 7.0, 31.0),
 (24.0, 7.45, 16.0),
 (38.0, 19.5, 29.0),
 (13.25, 13.25, 13.0),
 (55.0, 34.0, 45.0),
 (49.3, 28.5, 39.0),
 (40.0, 25.0, 32.0),
 (97.0, 10.0, 46.0),
 (38.0, 21.0, 30.0),
 (23.25, 6.0, 15.0),
 (62.5, 15.0, 36.0),
 (81.0, 9.2, 28.0),
 (21.0, 9.0, 15.0)]

In [24]:
%%sql
select max (PrecioUnidad) max_price, min (PrecioUnidad) min_price, round(avg(PrecioUnidad)) avg_price
from Productos
where Suspendido = 'False' and PrecioUnidad > 10
group by IdProveedor
order by IdProveedor
limit 10

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[(19.0, 18.0, 19.0),
 (43.9, 14.0, 30.0),
 (33.25, 13.0, 23.0),
 (25.89, 25.89, 26.0),
 (34.8, 12.5, 26.0),
 (36.0, 21.5, 29.0),
 (18.0, 14.0, 15.0),
 (26.0, 15.0, 20.0),
 (263.5, 18.0, 141.0),
 (18.4, 18.4, 18.0)]

In [25]:
%%sql
select IdProveedor proveedor,
       max (PrecioUnidad) max_price, 
       min (PrecioUnidad) min_price,
    round(avg(PrecioUnidad)) avg_price
from Productos
where Suspendido = 'False' and PrecioUnidad > 10
group by IdProveedor
having avg_price > 50
order by (IdProveedor)

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('18', 263.5, 18.0, 141.0), ('24', 53.0, 53.0, 53.0)]

In [26]:
%%sql
select NombreCompañia
from Proveedores
where IdProveedor = '18'

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('Aux joyeux ecclésiastiques',)]

In [28]:
-- join 2 tablas

%%sql
select NombreCompañia proveedor,
       max (PrecioUnidad) max_price, 
       min (PrecioUnidad) min_price,
    round(avg(PrecioUnidad)) avg_price
from Productos p join Proveedores pp on p.idProveedor = pp.IdProveedor
where Suspendido = 'False' and PrecioUnidad > 10
group by NombreCompañia
having avg_price > 50
order by (NombreCompañia)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [ ]:
# Para

In [29]:
import pandas as pd

In [30]:
db_url = 'sqlite:///../notebooks-0921/data/tutorial.db'

In [31]:
query = '''
select NombreCompañia proveedor,
       max (PrecioUnidad) max_price, 
       min (PrecioUnidad) min_price,
    round(avg(PrecioUnidad)) avg_price
from Productos p join Proveedores pp on p.idProveedor = pp.IdProveedor
where Suspendido = 'False' and PrecioUnidad > 10
group by NombreCompañia
having avg_price > 5
order by (NombreCompañia)
'''

In [32]:
pd.read_sql (query, db_url)

                                 proveedor  max_price  min_price  avg_price
0               Aux joyeux ecclésiastiques     263.50      18.00      141.0
1                        Bigfoot Breweries      18.00      14.00       15.0
2       Cooperativa de Quesos 'Las Cabras'      38.00      21.00       30.0
3                       Escargots Nouveaux      13.25      13.25       13.0
4                           Exotic Liquids      19.00      18.00       19.0
5                  Formaggi Fortini s.r.l.      34.80      12.50       26.0
6                         Forêts d'érables      49.30      28.50       39.0
7                              G'day, Mate      53.00      53.00       53.0
8                             Gai pâturage      55.00      34.00       45.0
9                Grandma Kelly's Homestead      40.00      25.00       32.0
10             Heli Süßwaren GmbH & Co. KG      43.90      14.00       30.0
11                               Karkki Oy      20.00      16.25       18.0
12                            Leka Trading      46.00      19.45       33.0
13                              Lyngbysild      12.00      12.00       12.0
14                               Ma Maison      24.00      24.00       24.0
15                                Mayumi's      23.25      15.50       19.0
16             New England Seafood Cannery      18.40      18.40       18.0
17              New Orleans Cajun Delights      22.00      17.00       20.0
18  Nord-Ost-Fisch Handelsgesellschaft mbH      25.89      25.89       26.0
19                         Norske Meierier      36.00      21.50       29.0
20                        PB Knäckebröd AB      21.00      21.00       21.0
21                    Pasta Buttini s.r.l.      38.00      19.50       29.0
22                           Pavlova, Ltd.      62.50      15.00       35.0
23       Plutzer Lebensmittelgroßmärkte AG      33.25      13.00       23.0
24                Specialty Biscuits, Ltd.      81.00      12.50       47.0
25                       Svensk Sjöföda AB      26.00      15.00       20.0
26                           Tokyo Traders      31.00      31.00       31.0
27                     Zaanse Snoepfabriek      12.75      12.75       13.0

In [33]:
df = pd.read_sql (query, db_url)

In [34]:
df.to_csv ('proveedores.csv')

In [35]:
avg_price = 20
query2 = '''
select NombreCompañia proveedor,
       max (PrecioUnidad) max_price, 
       min (PrecioUnidad) min_price,
    round(avg(PrecioUnidad)) avg_price
from Productos p join Proveedores pp on p.idProveedor = pp.IdProveedor
where Suspendido = 'False' and PrecioUnidad > 10
group by NombreCompañia
having avg_price > {avg_price}
order by (NombreCompañia)
'''

In [36]:
query2

"\nselect NombreCompañia proveedor,\n       max (PrecioUnidad) max_price, \n       min (PrecioUnidad) min_price,\n    round(avg(PrecioUnidad)) avg_price\nfrom Productos p join Proveedores pp on p.idProveedor = pp.IdProveedor\nwhere Suspendido = 'False' and PrecioUnidad > 10\ngroup by NombreCompañia\nhaving avg_price > {avg_price}\norder by (NombreCompañia)\n"

In [37]:
%%sql
select count(*) num_clientes
from Clientes

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[(95,)]

In [38]:
%%sql
insert into Clientes (IdCliente, NombreCompañia, Ciudad, Pais)
values ('IRNK', 'Ironhack', 'Barcelona', 'España')

 * sqlite:///../notebooks-0921/data/tutorial.db
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [39]:
%%sql
select *
from Clientes
where IdCliente = 'IRNK'

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None),
 ('IRNK', 'Ironhack', None, None, None, 'Barcelona', None, None, 'España', None, None)]

In [40]:

update Clientes
set NombreContacto = 'Carla Hernandez'

SyntaxError: invalid syntax (<ipython-input-40-4260f2f167f2>, line 1)

In [41]:
%%sql
select *
from Clientes c inner join Pedidos p on p.IdCliente = c.IdCliente
limit 10

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545', '396', 'ALFKI', '25', '1997-08-25 00:00:00', '1997-09-22 00:00:00', '1997-09-02 00:00:00', 29.46, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545', '445', 'ALFKI', '23', '1997-10-03 00:00:00', '1997-10-31 00:00:00', '1997-10-13 00:00:00', 61.02, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545', '455', 'ALFKI', '23', '1997-10-13 00:00:00', '1997-11-24 00:00:00', '1997-10-21 00:00:00', 23.94, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545', '588', 'ALFKI', '20', '1998-01-15 00:00:00', '1998-02-12 00:00:00', '1998-01-21 00:00:00', 69.53, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545', '705', 'ALFKI', '20', '1998-03-16 00:00:00', '1998-04-27 00:00:00', '1998-03-24 00:00:00', 40.42, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Representante de ventas', 'Obere Str. 57', 'Berlin', '', '12209', 'Alemania', '030-0074321', '030-0076545', '764', 'ALFKI', '22', '1998-04-09 00:00:00', '1998-05-07 00:00:00', '1998-04-13 00:00:00', 1.21, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Propietario', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México', '(5) 555-4729', '(5) 555-3745', '378', 'ANATR', '22', '1997-08-08 00:00:00', '1997-09-05 00:00:00', '1997-08-14 00:00:00', 43.9, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Propietario', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México', '(5) 555-4729', '(5) 555-3745', '512', 'ANATR', '22', '1997-11-28 00:00:00', '1997-12-26 00:00:00', '1997-12-12 00:00:00', 11.99, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Propietario', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México', '(5) 555-4729', '(5) 555-3745', '61', 'ANATR', '26', '1996-09-18 00:00:00', '1996-10-16 00:00:00', '1996-09-24 00:00:00', 1.61, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Propietario', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México', '(5) 555-4729', '(5) 555-3745', '679', 'ANATR', '23', '1998-03-04 00:00:00', '1998-04-01 00:00:00', '1998-03-11 00:00:00', 39.92, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México')]

In [42]:
%%sql
select p.*, c.NombreCompañia, c.País
from Clientes c inner join Pedidos p on p.IdCliente = c.IdCliente
where Pais = 'España'
limit 10

 * sqlite:///../notebooks-0921/data/tutorial.db
(sqlite3.OperationalError) no such column: c.País
[SQL: select p.*, c.NombreCompañia, c.País
from Clientes c inner join Pedidos p on p.IdCliente = c.IdCliente
where Pais = 'España'
limit 10]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [43]:
%%sql
insert into Pedidos (IdCliente, FechaPedido, Cargo)
select 'IRNK', '2021-11-23', Cargo
from Pedidos
where IdCliente = 'BOLID'

 * sqlite:///../notebooks-0921/data/tutorial.db
3 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [44]:
%%sql
select p.*, c.NombreCompañia, c.País
from Clientes c inner join Pedidos p on p.IdCliente = c.IdCliente
where Pais = 'España'
order by FechaPedido desc
limit 10

 * sqlite:///../notebooks-0921/data/tutorial.db
(sqlite3.OperationalError) no such column: c.País
[SQL: select p.*, c.NombreCompañia, c.País
from Clientes c inner join Pedidos p on p.IdCliente = c.IdCliente
where Pais = 'España'
order by FechaPedido desc
limit 10]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
delete
from

In [45]:
%%sql
create table Clients as
select *
from Clientes
where Pais != 'España'

 * sqlite:///../notebooks-0921/data/tutorial.db
(sqlite3.OperationalError) table Clients already exists
[SQL: create table Clients as
select *
from Clientes
where Pais != 'España']
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
create view PedidosEspaña as
select NombreCompañia, p.*
from Pedidos p inner join Clientes c on c.IdCliente = p.IdCliente
where País = 'España'

In [ ]:
%%sql
with PedidosSpain as
(select NombreCompañia, p.*
from Pedidos p inner join Clientes c on c.IdCliente = p.IdCliente
where País = 'España')
select count(*) from PedidosSpain

In [ ]:
bd_url = 'sqlite:'

In [46]:
import sqlite3

In [ ]:
conn =

In [ ]:
cur = conn.cursor

In [ ]:
# hay que añadir el ql en el postgres

In [74]:
db_url = 'postgresql://drpayfsw:o0Jju6xoXOMCkyBzAGJSLHGr-fc9-gU1@tai.db.elephantsql.com/drpayfsw'

In [48]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.2-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.2

In [75]:
import psycopg2

In [76]:
conn = psycopg2.connect(db_url)

In [77]:
cur = conn.cursor()

cur.execute('select * from information_schema')

In [78]:
sqlite_db = "sqlite:///../notebooks-0921/data/tutorial.db"

In [79]:
clientes = pd.read_sql('select * from Clientes', sqlite_db)

In [81]:
# clientes.to_sql ('Clientes', db_url)

In [82]:
cur.execute('select * from Clientes')
cur.fetchmany (5)

UndefinedTable: relation "clientes" does not exist
LINE 1: select * from Clientes
                      ^

In [83]:
conn.rollback ()

In [84]:
pd.read_sql ('select * from Pedidos', sqlite_db)

,IdPedido,IdCliente,IdEmpleado,FechaPedido,FechaEntrega,FechaEnvio,Cargo,Destinatario,DireccionDestinatario,CiudadDestinatario,RegionDestinatario,CodPostalDestinatario,PaisDestinatario
0,1,WILMK,24,1996-07-04 00:00:00,1996-08-01 00:00:00,1996-07-16 00:00:00,32.38,Wilman Kala,Keskuskatu 45,Helsinki,,21240,Finlandia
1,2,TOMSP,25,1996-07-05 00:00:00,1996-08-16 00:00:00,1996-07-10 00:00:00,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,,44087,Alemania
2,3,HANAR,23,1996-07-08 00:00:00,1996-08-05 00:00:00,1996-07-12 00:00:00,65.83,Hanari Carnes,"Rua do Paço, 67",Río de Janeiro,RJ,05454-876,Brasil
3,4,VICTE,22,1996-07-08 00:00:00,1996-08-05 00:00:00,1996-07-15 00:00:00,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,,69004,Francia
4,5,SUPRD,23,1996-07-09 00:00:00,1996-08-06 00:00:00,1996-07-11 00:00:00,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,,B-6000,Bélgica
...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,None,IRNK,None,2021-11-23,None,None,97.09,None,None,None,None,None,None
838,None,IRNK,None,2021-11-23,None,None,16.16,None,None,None,None,None,None
839,None,IRNK,None,2021-11-23,None,None,77.92,None,None,None,None,None,None
840,None,IRNK,None,2021-11-23,None,None,97.09,None,None,None,None,None,None
841,None,IRNK,None,2021-11-23,None,None,16.16,None,None,None,None,None,None

In [85]:
pd.read_sql ('''select IdCliente, count (*) num
            from Pedidos',
            sqlite_db)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-85-4b6fa3dfffe3>, line 1)

In [ ]:
pd.read_sql ('''select *
            from Pedidos
            limit 5
            sqlite_db)

In [ ]:
### Execício cohort - Marc Herrera

In [86]:
%%sql
select *
from Pedidos
order by IdCliente, FechaPedido
limit 10

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('396', 'ALFKI', '25', '1997-08-25 00:00:00', '1997-09-22 00:00:00', '1997-09-02 00:00:00', 29.46, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('445', 'ALFKI', '23', '1997-10-03 00:00:00', '1997-10-31 00:00:00', '1997-10-13 00:00:00', 61.02, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('455', 'ALFKI', '23', '1997-10-13 00:00:00', '1997-11-24 00:00:00', '1997-10-21 00:00:00', 23.94, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('588', 'ALFKI', '20', '1998-01-15 00:00:00', '1998-02-12 00:00:00', '1998-01-21 00:00:00', 69.53, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('705', 'ALFKI', '20', '1998-03-16 00:00:00', '1998-04-27 00:00:00', '1998-03-24 00:00:00', 40.42, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('764', 'ALFKI', '22', '1998-04-09 00:00:00', '1998-05-07 00:00:00', '1998-04-13 00:00:00', 1.21, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlín', '', '12209', 'Alemania'),
 ('61', 'ANATR', '26', '1996-09-18 00:00:00', '1996-10-16 00:00:00', '1996-09-24 00:00:00', 1.61, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México'),
 ('378', 'ANATR', '22', '1997-08-08 00:00:00', '1997-09-05 00:00:00', '1997-08-14 00:00:00', 43.9, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México'),
 ('512', 'ANATR', '22', '1997-11-28 00:00:00', '1997-12-26 00:00:00', '1997-12-12 00:00:00', 11.99, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México'),
 ('679', 'ANATR', '23', '1998-03-04 00:00:00', '1998-04-01 00:00:00', '1998-03-11 00:00:00', 39.92, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'México')]

In [87]:
%%sql
select IdCliente, substr(FechaPedido,0,8) month
from Pedidos
order by IdCliente, FechaPedido
limit 10

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('ALFKI', '1997-08'),
 ('ALFKI', '1997-10'),
 ('ALFKI', '1997-10'),
 ('ALFKI', '1998-01'),
 ('ALFKI', '1998-03'),
 ('ALFKI', '1998-04'),
 ('ANATR', '1996-09'),
 ('ANATR', '1997-08'),
 ('ANATR', '1997-11'),
 ('ANATR', '1998-03')]

In [91]:
%%sql
select substr(FechaPedido,0,8) month, IdCliente
from Pedidos
order by FechaPedido, IdCliente
limit 10

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('1996-07', 'WILMK'),
 ('1996-07', 'TOMSP'),
 ('1996-07', 'HANAR'),
 ('1996-07', 'VICTE'),
 ('1996-07', 'SUPRD'),
 ('1996-07', 'HANAR'),
 ('1996-07', 'CHOPS'),
 ('1996-07', 'RICSU'),
 ('1996-07', 'WELLI'),
 ('1996-07', 'HILAA')]

In [ ]:
%%sql
with firstorderpercustomer as
(select IdCliente, min(FechaPedido) as firstorderdoneon
from Pedidos
group by IdCliente)
select IdCliente,
firstorderdoneon,
substr(firstorderdoneon, 0,8) as FirstOrderMonth,
julianday (firstorderdoneon) days
from Pedidos orders
left join firstorderpercustomer
on firstorderpercustomer.IdCliente =
orders.IdCliente

In [92]:
%%sql
with ﬁrstorderpercustomer as
(select IdCliente, min(FechaPedido) as ﬁrstorderdoneon
from Pedidos
group by IdCliente)
select
   ﬁrstorderdoneon,
   substr(ﬁrstorderdoneon, 0,8) as FirstOrderMonth,
   julianday(ﬁrstorderdoneon) julianFirstOrderDate,
   FechaPedido,
   julianday(FechaPedido) JulianOrderDate,
(julianday(FechaPedido) - julianday(ﬁrstorderdoneon)) CohortDay,
round((julianday(FechaPedido) - julianday(ﬁrstorderdoneon))/30) as cohortmonth
from Pedidos orders
left join ﬁrstorderpercustomer
on ﬁrstorderpercustomer.IdCliente =
orders.IdCliente

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('1996-07-04 00:00:00', '1996-07', 2450268.5, '1996-07-04 00:00:00', 2450268.5, 0.0, 0.0),
 ('1996-07-05 00:00:00', '1996-07', 2450269.5, '1996-07-05 00:00:00', 2450269.5, 0.0, 0.0),
 ('1996-07-08 00:00:00', '1996-07', 2450272.5, '1996-07-08 00:00:00', 2450272.5, 0.0, 0.0),
 ('1996-07-08 00:00:00', '1996-07', 2450272.5, '1996-07-08 00:00:00', 2450272.5, 0.0, 0.0),
 ('1996-07-09 00:00:00', '1996-07', 2450273.5, '1996-07-09 00:00:00', 2450273.5, 0.0, 0.0),
 ('1996-07-08 00:00:00', '1996-07', 2450272.5, '1996-07-10 00:00:00', 2450274.5, 2.0, 0.0),
 ('1996-07-11 00:00:00', '1996-07', 2450275.5, '1996-07-11 00:00:00', 2450275.5, 0.0, 0.0),
 ('1996-07-12 00:00:00', '1996-07', 2450276.5, '1996-07-12 00:00:00', 2450276.5, 0.0, 0.0),
 ('1996-07-15 00:00:00', '1996-07', 2450279.5, '1996-07-15 00:00:00', 2450279.5, 0.0, 0.0),
 ('1996-07-16 00:00:00', '1996-07', 2450280.5, '1996-07-16 00:00:00', 2450280.5, 0.0, 0.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1996-07-17 00:00:00', 2450281.5, 0.0, 0.0),
 ('1996-07-18 00:00:00', '1996-07', 2450282.5, '1996-07-18 00:00:00', 2450282.5, 0.0, 0.0),
 ('1996-07-19 00:00:00', '1996-07', 2450283.5, '1996-07-19 00:00:00', 2450283.5, 0.0, 0.0),
 ('1996-07-19 00:00:00', '1996-07', 2450283.5, '1996-07-19 00:00:00', 2450283.5, 0.0, 0.0),
 ('1996-07-22 00:00:00', '1996-07', 2450286.5, '1996-07-22 00:00:00', 2450286.5, 0.0, 0.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1996-07-23 00:00:00', 2450287.5, 6.0, 0.0),
 ('1996-07-24 00:00:00', '1996-07', 2450288.5, '1996-07-24 00:00:00', 2450288.5, 0.0, 0.0),
 ('1996-07-25 00:00:00', '1996-07', 2450289.5, '1996-07-25 00:00:00', 2450289.5, 0.0, 0.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1996-07-26 00:00:00', 2450290.5, 0.0, 0.0),
 ('1996-07-29 00:00:00', '1996-07', 2450293.5, '1996-07-29 00:00:00', 2450293.5, 0.0, 0.0),
 ('1996-07-30 00:00:00', '1996-07', 2450294.5, '1996-07-30 00:00:00', 2450294.5, 0.0, 0.0),
 ('1996-07-31 00:00:00', '1996-07', 2450295.5, '1996-07-31 00:00:00', 2450295.5, 0.0, 0.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1996-08-01 00:00:00', 2450296.5, 6.0, 0.0),
 ('1996-08-01 00:00:00', '1996-08', 2450296.5, '1996-08-01 00:00:00', 2450296.5, 0.0, 0.0),
 ('1996-07-22 00:00:00', '1996-07', 2450286.5, '1996-08-02 00:00:00', 2450297.5, 11.0, 0.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1996-08-05 00:00:00', 2450300.5, 0.0, 0.0),
 ('1996-08-06 00:00:00', '1996-08', 2450301.5, '1996-08-06 00:00:00', 2450301.5, 0.0, 0.0),
 ('1996-08-07 00:00:00', '1996-08', 2450302.5, '1996-08-07 00:00:00', 2450302.5, 0.0, 0.0),
 ('1996-08-08 00:00:00', '1996-08', 2450303.5, '1996-08-08 00:00:00', 2450303.5, 0.0, 0.0),
 ('1996-08-09 00:00:00', '1996-08', 2450304.5, '1996-08-09 00:00:00', 2450304.5, 0.0, 0.0),
 ('1996-08-12 00:00:00', '1996-08', 2450307.5, '1996-08-12 00:00:00', 2450307.5, 0.0, 0.0),
 ('1996-08-13 00:00:00', '1996-08', 2450308.5, '1996-08-13 00:00:00', 2450308.5, 0.0, 0.0),
 ('1996-08-12 00:00:00', '1996-08', 2450307.5, '1996-08-14 00:00:00', 2450309.5, 2.0, 0.0),
 ('1996-08-14 00:00:00', '1996-08', 2450309.5, '1996-08-14 00:00:00', 2450309.5, 0.0, 0.0),
 ('1996-08-14 00:00:00', '1996-08', 2450309.5, '1996-08-15 00:00:00', 2450310.5, 1.0, 0.0),
 ('1996-08-16 00:00:00', '1996-08', 2450311.5, '1996-08-16 00:00:00', 2450311.5, 0.0, 0.0),
 ('1996-08-13 00:00:00', '1996-08', 2450308.5, '1996-08-19 00:00:00', 2450314.5, 6.0, 0.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1996-08-20 00:00:00', 2450315.5, 15.0, 1.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1996-08-21 00:00:00', 2450316.5, 16.0, 1.0),
 ('1996-08-22 00:00:00', '1996-08', 2450317.5, '1996-08-22 00:00:00', 2450317.5, 0.0, 0.0),
 ('1996-08-23 00:00:00', '1996-08', 2450318.5, '1996-08-23 00:00:00', 2450318.5, 0.0, 0.0),
 ('1996-08-26 00:00:00', '1996-08', 2450321.5, '1996-08-26 00:00:00', 2450321.5, 0.0, 0.0),
 ('1996-08-27 00:00:00', '1996-08', 2450322.5, '1996-08-27 00:00:00', 2450322.5, 0.0, 0.0),
 ('1996-07-19 00:00:00', '1996-07', 2450283.5, '1996-08-27 00:00:00', 2450322.5, 39.0, 1.0),
 ('1996-08-28 00:00:00', '1996-08', 2450323.5, '1996-08-28 00:00:00', 2450323.5, 0.0, 0.0),
 ('1996-08-08 00:00:00', '1996-08', 2450303.5, '1996-08-29 00:00:00', 2450324.5, 21.0, 1.0),
 ('1996-07-22 00:00:00', '1996-07', 2450286.5, '1996-08-30 00:00:00', 2450325.5, 39.0, 1.0),
 ('1996-08-06 00:00:00', '1996-08', 2450301.5, '1996-09-02 00:00:00', 2450328.5, 27.0, 1.0),
 ('1996-08-16 00:00:00', '1996-08', 2450311.5, '1996-09-03 00:00:00', 2450329.5, 18.0, 1.0),
 ('1996-07-25 00:00:00', '1996-07', 2450289.5, '1996-09-04 00:00:00', 2450330.5, 41.0, 1.0),
 ('1996-09-05 00:00:00', '1996-09', 2450331.5, '1996-09-05 00:00:00', 2450331.5, 0.0, 0.0),
 ('1996-08-22 00:00:00', '1996-08', 2450317.5, '1996-09-06 00:00:00', 2450332.5, 15.0, 1.0),
 ('1996-08-07 00:00:00', '1996-08', 2450302.5, '1996-09-09 00:00:00', 2450335.5, 33.0, 1.0),
 ('1996-09-09 00:00:00', '1996-09', 2450335.5, '1996-09-09 00:00:00', 2450335.5, 0.0, 0.0),
 ('1996-07-09 00:00:00', '1996-07', 2450273.5, '1996-09-10 00:00:00', 2450336.5, 63.0, 2.0),
 ('1996-09-11 00:00:00', '1996-09', 2450337.5, '1996-09-11 00:00:00', 2450337.5, 0.0, 0.0),
 ('1996-08-08 00:00:00', '1996-08', 2450303.5, '1996-09-12 00:00:00', 2450338.5, 35.0, 1.0),
 ('1996-09-13 00:00:00', '1996-09', 2450339.5, '1996-09-13 00:00:00', 2450339.5, 0.0, 0.0),
 ('1996-08-14 00:00:00', '1996-08', 2450309.5, '1996-09-16 00:00:00', 2450342.5, 33.0, 1.0),
 ('1996-09-17 00:00:00', '1996-09', 2450343.5, '1996-09-17 00:00:00', 2450343.5, 0.0, 0.0),
 ('1996-09-18 00:00:00', '1996-09', 2450344.5, '1996-09-18 00:00:00', 2450344.5, 0.0, 0.0),
 ('1996-09-05 00:00:00', '1996-09', 2450331.5, '1996-09-19 00:00:00', 2450345.5, 14.0, 0.0),
 ('1996-09-20 00:00:00', '1996-09', 2450346.5, '1996-09-20 00:00:00', 2450346.5, 0.0, 0.0),
 ('1996-09-20 00:00:00', '1996-09', 2450346.5, '1996-09-20 00:00:00', 2450346.5, 0.0, 0.0),
 ('1996-09-09 00:00:00', '1996-09', 2450335.5, '1996-09-23 00:00:00', 2450349.5, 14.0, 0.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1996-09-24 00:00:00', 2450350.5, 50.0, 2.0),
 ('1996-07-22 00:00:00', '1996-07', 2450286.5, '1996-09-25 00:00:00', 2450351.5, 65.0, 2.0),
 ('1996-09-26 00:00:00', '1996-09', 2450352.5, '1996-09-26 00:00:00', 2450352.5, 0.0, 0.0),
 ('1996-07-22 00:00:00', '1996-07', 2450286.5, '1996-09-27 00:00:00', 2450353.5, 67.0, 2.0),
 ('1996-09-17 00:00:00', '1996-09', 2450343.5, '1996-09-30 00:00:00', 2450356.5, 13.0, 0.0),
 ('1996-09-26 00:00:00', '1996-09', 2450352.5, '1996-10-01 00:00:00', 2450357.5, 5.0, 0.0),
 ('1996-08-08 00:00:00', '1996-08', 2450303.5, '1996-10-02 00:00:00', 2450358.5, 55.0, 2.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1996-10-03 00:00:00', 2450359.5, 69.0, 2.0),
 ('1996-09-26 00:00:00', '1996-09', 2450352.5, '1996-10-03 00:00:00', 2450359.5, 7.0, 0.0),
 ('1996-10-04 00:00:00', '1996-10', 2450360.5, '1996-10-04 00:00:00', 2450360.5, 0.0, 0.0),
 ('1996-10-07 00:00:00', '1996-10', 2450363.5, '1996-10-07 00:00:00', 2450363.5, 0.0, 0.0),
 ('1996-10-08 00:00:00', '1996-10', 2450364.5, '1996-10-08 00:00:00', 2450364.5, 0.0, 0.0),
 ('1996-10-07 00:00:00', '1996-10', 2450363.5, '1996-10-09 00:00:00', 2450365.5, 2.0, 0.0),
 ('1996-10-10 00:00:00', '1996-10', 2450366.5, '1996-10-10 00:00:00', 2450366.5, 0.0, 0.0),
 ('1996-07-24 00:00:00', '1996-07', 2450288.5, '1996-10-11 00:00:00', 2450367.5, 79.0, 3.0),
 ('1996-10-14 00:00:00', '1996-10', 2450370.5, '1996-10-14 00:00:00', 2450370.5, 0.0, 0.0),
 ('1996-08-01 00:00:00', '1996-08', 2450296.5, '1996-10-15 00:00:00', 2450371.5, 75.0, 3.0),
 ('1996-08-16 00:00:00', '1996-08', 2450311.5, '1996-10-16 00:00:00', 2450372.5, 61.0, 2.0),
 ('1996-10-16 00:00:00', '1996-10', 2450372.5, '1996-10-16 00:00:00', 2450372.5, 0.0, 0.0),
 ('1996-10-17 00:00:00', '1996-10', 2450373.5, '1996-10-17 00:00:00', 2450373.5, 0.0, 0.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1996-10-18 00:00:00', 2450374.5, 84.0, 3.0),
 ('1996-07-08 00:00:00', '1996-07', 2450272.5, '1996-10-21 00:00:00', 2450377.5, 105.0, 4.0),
 ('1996-09-05 00:00:00', '1996-09', 2450331.5, '1996-10-22 00:00:00', 2450378.5, 47.0, 2.0),
 ('1996-10-23 00:00:00', '1996-10', 2450379.5, '1996-10-23 00:00:00', 2450379.5, 0.0, 0.0),
 ('1996-07-29 00:00:00', '1996-07', 2450293.5, '1996-10-24 00:00:00', 2450380.5, 87.0, 3.0),
 ('1996-09-13 00:00:00', '1996-09', 2450339.5, '1996-10-25 00:00:00', 2450381.5, 42.0, 1.0),
 ('1996-10-17 00:00:00', '1996-10', 2450373.5, '1996-10-28 00:00:00', 2450384.5, 11.0, 0.0),
 ('1996-10-16 00:00:00', '1996-10', 2450372.5, '1996-10-29 00:00:00', 2450385.5, 13.0, 0.0),
 ('1996-10-29 00:00:00', '1996-10', 2450385.5, '1996-10-29 00:00:00', 2450385.5, 0.0, 0.0),
 ('1996-07-29 00:00:00', '1996-07', 2450293.5, '1996-10-30 00:00:00', 2450386.5, 93.0, 3.0),
 ('1996-08-13 00:00:00', '1996-08', 2450308.5, '1996-10-31 00:00:00', 2450387.5, 79.0, 3.0),
 ('1996-07-31 00:00:00', '1996-07', 2450295.5, '1996-11-01 00:00:00', 2450388.5, 93.0, 3.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1996-11-04 00:00:00', 2450391.5, 91.0, 3.0),
 ('1996-07-22 00:00:00', '1996-07', 2450286.5, '1996-11-05 00:00:00', 2450392.5, 106.0, 4.0),
 ('1996-11-06 00:00:00', '1996-11', 2450393.5, '1996-11-06 00:00:00', 2450393.5, 0.0, 0.0),
 ('1996-09-09 00:00:00', '1996-09', 2450335.5, '1996-11-07 00:00:00', 2450394.5, 59.0, 2.0),
 ('1996-08-01 00:00:00', '1996-08', 2450296.5, '1996-11-08 00:00:00', 2450395.5, 99.0, 3.0),
 ('1996-11-11 00:00:00', '1996-11', 2450398.5, '1996-11-11 00:00:00', 2450398.5, 0.0, 0.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1996-11-11 00:00:00', 2450398.5, 117.0, 4.0),
 ('1996-10-14 00:00:00', '1996-10', 2450370.5, '1996-11-12 00:00:00', 2450399.5, 29.0, 1.0),
 ('1996-11-13 00:00:00', '1996-11', 2450400.5, '1996-11-13 00:00:00', 2450400.5, 0.0, 0.0),
 ('1996-10-04 00:00:00', '1996-10', 2450360.5, '1996-11-14 00:00:00', 2450401.5, 41.0, 1.0),
 ('1996-11-15 00:00:00', '1996-11', 2450402.5, '1996-11-15 00:00:00', 2450402.5, 0.0, 0.0),
 ('1996-09-09 00:00:00', '1996-09', 2450335.5, '1996-11-18 00:00:00', 2450405.5, 70.0, 2.0),
 ('1996-08-16 00:00:00', '1996-08', 2450311.5, '1996-11-19 00:00:00', 2450406.5, 95.0, 3.0),
 ('1996-11-11 00:00:00', '1996-11', 2450398.5, '1996-11-20 00:00:00', 2450407.5, 9.0, 0.0),
 ('1996-11-21 00:00:00', '1996-11', 2450408.5, '1996-11-21 00:00:00', 2450408.5, 0.0, 0.0),
 ('1996-07-25 00:00:00', '1996-07', 2450289.5, '1996-11-22 00:00:00', 2450409.5, 120.0, 4.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1996-11-22 00:00:00', 2450409.5, 109.0, 4.0),
 ('1996-10-16 00:00:00', '1996-10', 2450372.5, '1996-11-25 00:00:00', 2450412.5, 40.0, 1.0),
 ('1996-11-26 00:00:00', '1996-11', 2450413.5, '1996-11-26 00:00:00', 2450413.5, 0.0, 0.0),
 ('1996-11-26 00:00:00', '1996-11', 2450413.5, '1996-11-26 00:00:00', 2450413.5, 0.0, 0.0),
 ('1996-11-27 00:00:00', '1996-11', 2450414.5, '1996-11-27 00:00:00', 2450414.5, 0.0, 0.0),
 ('1996-11-28 00:00:00', '1996-11', 2450415.5, '1996-11-28 00:00:00', 2450415.5, 0.0, 0.0),
 ('1996-11-28 00:00:00', '1996-11', 2450415.5, '1996-11-28 00:00:00', 2450415.5, 0.0, 0.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1996-11-29 00:00:00', 2450416.5, 135.0, 5.0),
 ('1996-08-01 00:00:00', '1996-08', 2450296.5, '1996-12-02 00:00:00', 2450419.5, 123.0, 4.0),
 ('1996-07-11 00:00:00', '1996-07', 2450275.5, '1996-12-03 00:00:00', 2450420.5, 145.0, 5.0),
 ('1996-11-11 00:00:00', '1996-11', 2450398.5, '1996-12-03 00:00:00', 2450420.5, 22.0, 1.0),
 ('1996-12-04 00:00:00', '1996-12', 2450421.5, '1996-12-04 00:00:00', 2450421.5, 0.0, 0.0),
 ('1996-09-05 00:00:00', '1996-09', 2450331.5, '1996-12-05 00:00:00', 2450422.5, 91.0, 3.0),
 ('1996-12-05 00:00:00', '1996-12', 2450422.5, '1996-12-05 00:00:00', 2450422.5, 0.0, 0.0),
 ('1996-12-06 00:00:00', '1996-12', 2450423.5, '1996-12-06 00:00:00', 2450423.5, 0.0, 0.0),
 ('1996-10-17 00:00:00', '1996-10', 2450373.5, '1996-12-09 00:00:00', 2450426.5, 53.0, 2.0),
 ('1996-11-21 00:00:00', '1996-11', 2450408.5, '1996-12-09 00:00:00', 2450426.5, 18.0, 1.0),
 ('1996-07-24 00:00:00', '1996-07', 2450288.5, '1996-12-10 00:00:00', 2450427.5, 139.0, 5.0),
 ('1996-07-19 00:00:00', '1996-07', 2450283.5, '1996-12-11 00:00:00', 2450428.5, 145.0, 5.0),
 ('1996-09-05 00:00:00', '1996-09', 2450331.5, '1996-12-12 00:00:00', 2450429.5, 98.0, 3.0),
 ('1996-08-16 00:00:00', '1996-08', 2450311.5, '1996-12-12 00:00:00', 2450429.5, 118.0, 4.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1996-12-13 00:00:00', 2450430.5, 149.0, 5.0),
 ('1996-11-15 00:00:00', '1996-11', 2450402.5, '1996-12-16 00:00:00', 2450433.5, 31.0, 1.0),
 ('1996-08-12 00:00:00', '1996-08', 2450307.5, '1996-12-16 00:00:00', 2450433.5, 126.0, 4.0),
 ('1996-08-01 00:00:00', '1996-08', 2450296.5, '1996-12-17 00:00:00', 2450434.5, 138.0, 5.0),
 ('1996-11-06 00:00:00', '1996-11', 2450393.5, '1996-12-18 00:00:00', 2450435.5, 42.0, 1.0),
 ('1996-12-18 00:00:00', '1996-12', 2450435.5, '1996-12-18 00:00:00', 2450435.5, 0.0, 0.0),
 ('1996-11-21 00:00:00', '1996-11', 2450408.5, '1996-12-19 00:00:00', 2450436.5, 28.0, 1.0),
 ('1996-12-20 00:00:00', '1996-12', 2450437.5, '1996-12-20 00:00:00', 2450437.5, 0.0, 0.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1996-12-23 00:00:00', 2450440.5, 159.0, 5.0),
 ('1996-11-26 00:00:00', '1996-11', 2450413.5, '1996-12-23 00:00:00', 2450440.5, 27.0, 1.0),
 ('1996-11-13 00:00:00', '1996-11', 2450400.5, '1996-12-24 00:00:00', 2450441.5, 41.0, 1.0),
 ('1996-10-08 00:00:00', '1996-10', 2450364.5, '1996-12-25 00:00:00', 2450442.5, 78.0, 3.0),
 ('1996-12-06 00:00:00', '1996-12', 2450423.5, '1996-12-25 00:00:00', 2450442.5, 19.0, 1.0),
 ('1996-07-16 00:00:00', '1996-07', 2450280.5, '1996-12-26 00:00:00', 2450443.5, 163.0, 5.0),
 ('1996-07-29 00:00:00', '1996-07', 2450293.5, '1996-12-27 00:00:00', 2450444.5, 151.0, 5.0),
 ('1996-10-23 00:00:00', '1996-10', 2450379.5, '1996-12-27 00:00:00', 2450444.5, 65.0, 2.0),
 ('1996-10-08 00:00:00', '1996-10', 2450364.5, '1996-12-30 00:00:00', 2450447.5, 83.0, 3.0),
 ('1996-11-28 00:00:00', '1996-11', 2450415.5, '1996-12-31 00:00:00', 2450448.5, 33.0, 1.0),
 ('1996-11-26 00:00:00', '1996-11', 2450413.5, '1997-01-01 00:00:00', 2450449.5, 36.0, 1.0),
 ('1996-07-22 00:00:00', '1996-07', 2450286.5, '1997-01-01 00:00:00', 2450449.5, 163.0, 5.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1997-01-02 00:00:00', 2450450.5, 169.0, 6.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1997-01-03 00:00:00', 2450451.5, 170.0, 6.0),
 ('1996-08-07 00:00:00', '1996-08', 2450302.5, '1997-01-03 00:00:00', 2450451.5, 149.0, 5.0),
 ('1997-01-06 00:00:00', '1997-01', 2450454.5, '1997-01-06 00:00:00', 2450454.5, 0.0, 0.0),
 ('1996-12-04 00:00:00', '1996-12', 2450421.5, '1997-01-07 00:00:00', 2450455.5, 34.0, 1.0),
 ('1996-07-19 00:00:00', '1996-07', 2450283.5, '1997-01-07 00:00:00', 2450455.5, 172.0, 6.0),
 ('1997-01-08 00:00:00', '1997-01', 2450456.5, '1997-01-08 00:00:00', 2450456.5, 0.0, 0.0),
 ('1997-01-09 00:00:00', '1997-01', 2450457.5, '1997-01-09 00:00:00', 2450457.5, 0.0, 0.0),
 ('1996-12-20 00:00:00', '1996-12', 2450437.5, '1997-01-10 00:00:00', 2450458.5, 21.0, 1.0),
 ('1996-12-20 00:00:00', '1996-12', 2450437.5, '1997-01-10 00:00:00', 2450458.5, 21.0, 1.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1997-01-13 00:00:00', 2450461.5, 171.0, 6.0),
 ('1996-11-11 00:00:00', '1996-11', 2450398.5, '1997-01-14 00:00:00', 2450462.5, 64.0, 2.0),
 ('1996-11-06 00:00:00', '1996-11', 2450393.5, '1997-01-14 00:00:00', 2450462.5, 69.0, 2.0),
 ('1996-12-06 00:00:00', '1996-12', 2450423.5, '1997-01-15 00:00:00', 2450463.5, 40.0, 1.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1997-01-16 00:00:00', 2450464.5, 174.0, 6.0),
 ('1996-10-29 00:00:00', '1996-10', 2450385.5, '1997-01-16 00:00:00', 2450464.5, 79.0, 3.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1997-01-17 00:00:00', 2450465.5, 165.0, 6.0),
 ('1996-07-12 00:00:00', '1996-07', 2450276.5, '1997-01-20 00:00:00', 2450468.5, 192.0, 6.0),
 ('1996-07-15 00:00:00', '1996-07', 2450279.5, '1997-01-21 00:00:00', 2450469.5, 190.0, 6.0),
 ('1996-07-19 00:00:00', '1996-07', 2450283.5, '1997-01-21 00:00:00', 2450469.5, 186.0, 6.0),
 ('1997-01-22 00:00:00', '1997-01', 2450470.5, '1997-01-22 00:00:00', 2450470.5, 0.0, 0.0),
 ('1997-01-23 00:00:00', '1997-01', 2450471.5, '1997-01-23 00:00:00', 2450471.5, 0.0, 0.0),
 ('1996-10-17 00:00:00', '1996-10', 2450373.5, '1997-01-23 00:00:00', 2450471.5, 98.0, 3.0),
 ('1996-11-11 00:00:00', '1996-11', 2450398.5, '1997-01-24 00:00:00', 2450472.5, 74.0, 2.0),
 ('1996-11-28 00:00:00', '1996-11', 2450415.5, '1997-01-27 00:00:00', 2450475.5, 60.0, 2.0),
 ('1996-11-13 00:00:00', '1996-11', 2450400.5, '1997-01-27 00:00:00', 2450475.5, 75.0, 3.0),
 ('1996-08-23 00:00:00', '1996-08', 2450318.5, '1997-01-28 00:00:00', 2450476.5, 158.0, 5.0),
 ('1996-09-05 00:00:00', '1996-09', 2450331.5, '1997-01-29 00:00:00', 2450477.5, 146.0, 5.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1997-01-30 00:00:00', 2450478.5, 197.0, 7.0),
 ('1996-12-20 00:00:00', '1996-12', 2450437.5, '1997-01-30 00:00:00', 2450478.5, 41.0, 1.0),
 ('1996-08-01 00:00:00', '1996-08', 2450296.5, '1997-01-31 00:00:00', 2450479.5, 183.0, 6.0),
 ('1996-10-23 00:00:00', '1996-10', 2450379.5, '1997-02-03 00:00:00', 2450482.5, 103.0, 3.0),
 ('1996-07-24 00:00:00', '1996-07', 2450288.5, '1997-02-03 00:00:00', 2450482.5, 194.0, 6.0),
 ('1997-02-04 00:00:00', '1997-02', 2450483.5, '1997-02-04 00:00:00', 2450483.5, 0.0, 0.0),
 ('1996-07-25 00:00:00', '1996-07', 2450289.5, '1997-02-05 00:00:00', 2450484.5, 195.0, 7.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1997-02-05 00:00:00', 2450484.5, 194.0, 6.0),
 ('1996-07-05 00:00:00', '1996-07', 2450269.5, '1997-02-06 00:00:00', 2450485.5, 216.0, 7.0),
 ('1996-10-17 00:00:00', '1996-10', 2450373.5, '1997-02-07 00:00:00', 2450486.5, 113.0, 4.0),
 ('1996-10-08 00:00:00', '1996-10', 2450364.5, '1997-02-10 00:00:00', 2450489.5, 125.0, 4.0),
 ('1996-09-13 00:00:00', '1996-09', 2450339.5, '1997-02-10 00:00:00', 2450489.5, 150.0, 5.0),
 ('1996-07-17 00:00:00', '1996-07', 2450281.5, '1997-02-11 00:00:00', 2450490.5, 209.0, 7.0),
 ('1996-08-23 00:00:00', '1996-08', 2450318.5, '1997-02-12 00:00:00', 2450491.5, 173.0, 6.0),
 ('1996-08-12 00:00:00', '1996-08', 2450307.5, '1997-02-12 00:00:00', 2450491.5, 184.0, 6.0),
 ('1996-08-12 00:00:00', '1996-08', 2450307.5, '1997-02-13 00:00:00', 2450492.5, 185.0, 6.0),
 ('1996-07-05 00:00:00', '1996-07', 2450269.5, '1997-02-14 00:00:00', 2450493.5, 224.0, 7.0),
 ('1996-08-22 00:00:00', '1996-08', 2450317.5, '1997-02-14 00:00:00', 2450493.5, 176.0, 6.0),
 ('1997-02-17 00:00:00', '1997-02', 2450496.5, '1997-02-17 00:00:00', 2450496.5, 0.0, 0.0),
 ('1996-07-25 00:00:00', '1996-07', 2450289.5, '1997-02-18 00:00:00', 2450497.5, 208.0, 7.0),
 ('1996-07-08 00:00:00', '1996-07', 2450272.5, '1997-02-19 00:00:00', 2450498.5, 226.0, 8.0),
 ('1996-08-05 00:00:00', '1996-08', 2450300.5, '1997-02-19 00:00:00', 2450498.5, 198.0, 7.0),
 ('1996-10-08 00:00:00', '1996-10', 2450364.5, '1997-02-20 00:00:00', 2450499.5, 135.0, 5.0),
 ('1996-11-15 00:00:00', '1996-11', 2450402.5, '1997-02-21 00:00:00', 2450500.5, 98.0, 3.0),
 ('1996-11-11 00:00:00', '1996-11', 2450398.5, '1997-02-21 00:00:00', 2450500.5, 102.0, 3.0),
 ('1996-07-26 00:00:00', '1996-07', 2450290.5, '1997-02-24 00:00:00', 2450503.5, 213.0, 7.0),
 ('1996-10-07 00:00:00', '1996-10', 2450363.5, '1997-02-25 00:00:00', 2450504.5, 141.0, 5.0),
 ('1996-10-07 00:00:00', '1996-10', 2450363.5, '1997-02-25 00:00:00', 2450504.5, 141.0, 5.0),
 ('1996-07-09 00:00:00', '1996-07', 2450273.5, '1997-02-26 00:00:00', 2450505.5, 232.0, 8.0),
 ('1996-07-08 00:00:00', '1996-07', 2450272.5, '1997-02-27 00:00:00', 2450506.5, 234.0, 8.0),
 ('1996-07-24 00:00:00', '1996-07', 2450288.5, '1997-02-28 00:00:00', 2450507.5, 219.0, 7.0),
 ('1996-08-16 00:00:00', '1996-08', 2450311.5, '1997-02-28 00:00:00', 2450507.5, 196.0, 7.0),
 ('1997-02-04 00:00:00', '1997-02', 2450483.5, '1997-03-03 00:00:00', 2450510.5, 27.0, 1.0),

In [93]:
%%sql
with ﬁrstorderpercustomer as
(select IdCliente, min(FechaPedido) as ﬁrstorderdoneon
from Pedidos
group by IdCliente)
select
   substr(ﬁrstorderdoneon, 0,8) as FirstOrderMonth,
   round((julianday(FechaPedido) - julianday(ﬁrstorderdoneon))/30) as cohortmonth,
   count(distinct orders.IdCliente) num
from Pedidos orders
left join ﬁrstorderpercustomer
on ﬁrstorderpercustomer.IdCliente =
orders.IdCliente
group by FirstOrderMonth, cohortmonth

 * sqlite:///../notebooks-0921/data/tutorial.db
Done.

[('1996-07', 0.0, 20),
 ('1996-07', 1.0, 3),
 ('1996-07', 2.0, 3),
 ('1996-07', 3.0, 4),
 ('1996-07', 4.0, 4),
 ('1996-07', 5.0, 7),
 ('1996-07', 6.0, 7),
 ('1996-07', 7.0, 6),
 ('1996-07', 8.0, 6),
 ('1996-07', 9.0, 4),
 ('1996-07', 10.0, 5),
 ('1996-07', 11.0, 10),
 ('1996-07', 12.0, 7),
 ('1996-07', 13.0, 8),
 ('1996-07', 14.0, 8),
 ('1996-07', 15.0, 7),
 ('1996-07', 16.0, 4),
 ('1996-07', 17.0, 12),
 ('1996-07', 18.0, 11),
 ('1996-07', 19.0, 9),
 ('1996-07', 20.0, 8),
 ('1996-07', 21.0, 14),
 ('1996-07', 22.0, 7),
 ('1996-08', 0.0, 15),
 ('1996-08', 1.0, 7),
 ('1996-08', 2.0, 3),
 ('1996-08', 3.0, 4),
 ('1996-08', 4.0, 4),
 ('1996-08', 5.0, 3),
 ('1996-08', 6.0, 6),
 ('1996-08', 7.0, 7),
 ('1996-08', 8.0, 2),
 ('1996-08', 9.0, 6),
 ('1996-08', 10.0, 6),
 ('1996-08', 11.0, 6),
 ('1996-08', 12.0, 2),
 ('1996-08', 13.0, 4),
 ('1996-08', 14.0, 4),
 ('1996-08', 15.0, 4),
 ('1996-08', 16.0, 7),
 ('1996-08', 17.0, 7),
 ('1996-08', 18.0, 8),
 ('1996-08', 19.0, 10),
 ('1996-08', 20.0, 8),
 ('1996-08', 21.0, 6),
 ('1996-09', 0.0, 9),
 ('1996-09', 1.0, 1),
 ('1996-09', 2.0, 2),
 ('1996-09', 3.0, 1),
 ('1996-09', 5.0, 2),
 ('1996-09', 6.0, 1),
 ('1996-09', 7.0, 1),
 ('1996-09', 8.0, 3),
 ('1996-09', 9.0, 2),
 ('1996-09', 10.0, 3),
 ('1996-09', 11.0, 3),
 ('1996-09', 12.0, 5),
 ('1996-09', 13.0, 3),
 ('1996-09', 14.0, 2),
 ('1996-09', 15.0, 2),
 ('1996-09', 16.0, 3),
 ('1996-09', 17.0, 4),
 ('1996-09', 18.0, 5),
 ('1996-09', 19.0, 5),
 ('1996-09', 20.0, 3),
 ('1996-10', 0.0, 9),
 ('1996-10', 1.0, 3),
 ('1996-10', 2.0, 2),
 ('1996-10', 3.0, 4),
 ('1996-10', 4.0, 2),
 ('1996-10', 5.0, 6),
 ('1996-10', 6.0, 6),
 ('1996-10', 7.0, 2),
 ('1996-10', 8.0, 4),
 ('1996-10', 9.0, 3),
 ('1996-10', 10.0, 4),
 ('1996-10', 11.0, 4),
 ('1996-10', 12.0, 2),
 ('1996-10', 13.0, 4),
 ('1996-10', 14.0, 3),
 ('1996-10', 15.0, 4),
 ('1996-10', 16.0, 3),
 ('1996-10', 17.0, 4),
 ('1996-10', 18.0, 5),
 ('1996-10', 19.0, 4),
 ('1996-11', 0.0, 10),
 ('1996-11', 1.0, 8),
 ('1996-11', 2.0, 3),
 ('1996-11', 3.0, 4),
 ('1996-11', 4.0, 1),
 ('1996-11', 5.0, 5),
 ('1996-11', 6.0, 4),
 ('1996-11', 7.0, 4),
 ('1996-11', 8.0, 3),
 ('1996-11', 9.0, 1),
 ('1996-11', 10.0, 3),
 ('1996-11', 11.0, 3),
 ('1996-11', 12.0, 4),
 ('1996-11', 13.0, 5),
 ('1996-11', 14.0, 4),
 ('1996-11', 15.0, 4),
 ('1996-11', 16.0, 4),
 ('1996-11', 17.0, 3),
 ('1996-11', 18.0, 2),
 ('1996-12', 0.0, 5),
 ('1996-12', 1.0, 3),
 ('1996-12', 3.0, 1),
 ('1996-12', 4.0, 2),
 ('1996-12', 7.0, 1),
 ('1996-12', 8.0, 2),
 ('1996-12', 9.0, 2),
 ('1996-12', 10.0, 1),
 ('1996-12', 11.0, 2),
 ('1996-12', 13.0, 3),
 ('1996-12', 14.0, 1),
 ('1996-12', 15.0, 4),
 ('1996-12', 16.0, 4),
 ('1996-12', 17.0, 2),
 ('1997-01', 0.0, 5),
 ('1997-01', 2.0, 1),
 ('1997-01', 3.0, 1),
 ('1997-01', 4.0, 1),
 ('1997-01', 7.0, 2),
 ('1997-01', 8.0, 2),
 ('1997-01', 9.0, 3),
 ('1997-01', 10.0, 3),
 ('1997-01', 11.0, 3),
 ('1997-01', 12.0, 2),
 ('1997-01', 13.0, 1),
 ('1997-01', 14.0, 3),
 ('1997-01', 15.0, 4),
 ('1997-01', 16.0, 1),
 ('1997-02', 0.0, 2),
 ('1997-02', 1.0, 1),
 ('1997-02', 8.0, 1),
 ('1997-02', 11.0, 1),
 ('1997-02', 12.0, 1),
 ('1997-02', 13.0, 1),
 ('1997-02', 14.0, 1),
 ('1997-03', 0.0, 1),
 ('1997-03', 2.0, 1),
 ('1997-04', 0.0, 4),
 ('1997-04', 3.0, 1),
 ('1997-04', 4.0, 2),
 ('1997-04', 7.0, 1),
 ('1997-04', 8.0, 1),
 ('1997-04', 9.0, 1),
 ('1997-04', 10.0, 2),
 ('1997-04', 11.0, 2),
 ('1997-04', 12.0, 2),
 ('1997-04', 13.0, 1),
 ('1997-05', 0.0, 2),
 ('1997-05', 2.0, 1),
 ('1997-05', 3.0, 1),
 ('1997-05', 4.0, 2),
 ('1997-05', 5.0, 1),
 ('1997-05', 7.0, 1),
 ('1997-05', 8.0, 1),
 ('1997-05', 10.0, 2),
 ('1997-05', 11.0, 2),
 ('1997-05', 12.0, 1),
 ('1997-06', 0.0, 2),
 ('1997-06', 4.0, 1),
 ('1997-06', 5.0, 1),
 ('1997-06', 7.0, 1),
 ('1997-06', 8.0, 1),
 ('1997-08', 0.0, 2),
 ('1997-08', 1.0, 1),
 ('1997-08', 2.0, 1),
 ('1997-08', 4.0, 1),
 ('1997-08', 5.0, 1),
 ('1997-08', 7.0, 1),
 ('1997-08', 8.0, 2),
 ('1997-09', 0.0, 1),
 ('1997-09', 4.0, 1),
 ('1997-09', 6.0, 1),
 ('1997-11', 0.0, 1),
 ('1997-11', 4.0, 1),
 ('1997-11', 5.0, 1),
 ('1998-01', 0.0, 1),
 ('1998-01', 1.0, 1),
 ('1998-01', 2.0, 1),
 ('2021-11', 0.0, 1)]

In [94]:
df = pd.read_sql('''with ﬁrstorderpercustomer as
(select IdCliente, min(FechaPedido) as ﬁrstorderdoneon
from Pedidos
group by IdCliente)
select
   substr(ﬁrstorderdoneon, 0,8) as FirstOrderMonth,
   round((julianday(FechaPedido) - julianday(ﬁrstorderdoneon))/30) as cohortmonth,
   count(distinct orders.IdCliente) num
from Pedidos orders
left join ﬁrstorderpercustomer
on ﬁrstorderpercustomer.IdCliente =
orders.IdCliente
group by FirstOrderMonth, cohortmonth''', sqlite_db)

In [95]:
pd.pivot_table(df, index='FirstOrderMonth',
               columns='cohortmonth',
               values='num',
               fill_value=0
               )

cohortmonth,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0
FirstOrderMonth,,,,,,,,,,,,,,,,,,,,,
1996-07,20,3,3,4,4,7,7,6,6,4,...,8,8,7,4,12,11,9,8,14,7
1996-08,15,7,3,4,4,3,6,7,2,6,...,4,4,4,7,7,8,10,8,6,0
1996-09,9,1,2,1,0,2,1,1,3,2,...,3,2,2,3,4,5,5,3,0,0
1996-10,9,3,2,4,2,6,6,2,4,3,...,4,3,4,3,4,5,4,0,0,0
1996-11,10,8,3,4,1,5,4,4,3,1,...,5,4,4,4,3,2,0,0,0,0
1996-12,5,3,0,1,2,0,0,1,2,2,...,3,1,4,4,2,0,0,0,0,0
1997-01,5,0,1,1,1,0,0,2,2,3,...,1,3,4,1,0,0,0,0,0,0
1997-02,2,1,0,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
1997-03,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997-04,4,0,0,1,2,0,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1997-05,2,0,1,1,2,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1997-06,2,0,0,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1997-08,2,1,1,0,1,1,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0
1997-09,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997-11,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998-01,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0