In [4]:
import pandas as pd
import requests
import random

In [ ]:
# https://opentdb.com/api.php?amount=10&category=11&difficulty=medium&type=multiple

In [5]:
cat_url = 'https://opentdb.com/api_category.php'

In [6]:
resp = requests.get(cat_url).json()
categorias = pd.DataFrame(resp['trivia_categories'])
categorias

    id                                   name
0    9                      General Knowledge
1   10                   Entertainment: Books
2   11                    Entertainment: Film
3   12                   Entertainment: Music
4   13     Entertainment: Musicals & Theatres
5   14              Entertainment: Television
6   15             Entertainment: Video Games
7   16             Entertainment: Board Games
8   17                       Science & Nature
9   18                     Science: Computers
10  19                   Science: Mathematics
11  20                              Mythology
12  21                                 Sports
13  22                              Geography
14  23                                History
15  24                               Politics
16  25                                    Art
17  26                            Celebrities
18  27                                Animals
19  28                               Vehicles
20  29                  Entertainment: Comics
21  30                       Science: Gadgets
22  31  Entertainment: Japanese Anime & Manga
23  32    Entertainment: Cartoon & Animations

In [10]:
base_url = 'https://opentdb.com/api.php'

In [8]:
params = {'category': 11,
          'difficulty': 'medium',
          'amount': 10,
          'type': 'multiple'}
params

{'category': 11, 'difficulty': 'medium', 'amount': 10, 'type': 'multiple'}

In [11]:
resp = requests.get(base_url, params=params)
resp.url

'https://opentdb.com/api.php?category=11&difficulty=medium&amount=10&type=multiple'

In [ ]:
 The API appends a "Response Code" to each API Call to help tell developers what the API is doing.

    Code 0: Success Returned results successfully.
    Code 1: No Results Could not return results. The API doesn't have enough questions for your query. (Ex. Asking for 50 Questions in a Category that only has 20.)
    Code 2: Invalid Parameter Contains an invalid parameter. Arguements passed in aren't valid. (Ex. Amount = Five)
    Code 3: Token Not Found Session Token does not exist.
    Code 4: Token Empty Session Token has returned all possible questions for the specified query. Resetting the Token is necessary.

In [12]:
resp.text

'{"response_code":0,"results":[{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"What was Marilyn Monroe`s character&#039;s first name in the film &quot;Some Like It Hot&quot;?","correct_answer":"Sugar","incorrect_answers":["Honey","Caramel","Candy"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"In which 1973 film does Yul Brynner play a robotic cowboy who malfunctions and goes on a killing\\tspree?","correct_answer":"Westworld","incorrect_answers":["Runaway","Android","The Terminators"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"This movie contains the quote, &quot;I love the smell of napalm in the morning!&quot;","correct_answer":"Apocalypse Now","incorrect_answers":["Platoon","The Deer Hunter","Full Metal Jacket"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"In which African country was the 2006 film &#039;Blood Diamond&#039; mostly set in?","correct_answer":"Sierra Leone","incorrect_answers":["Liberia","Burkina Faso","Central African Republic"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Which one of these films are shot entirely in one-take?","correct_answer":"Russian Ark","incorrect_answers":["Good Will Hunting","Birdman","Schindler&#039;s List"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Who played the Cenobite called &quot;Pinhead&quot; in the original Hellraiser films?","correct_answer":"Doug Bradley","incorrect_answers":["Doug Jones","Doug Savant","Doug Benson"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Which famous singer was portrayed by actor Kevin Spacey in the 2004 biographical film &quot;Beyond the Sea&quot;?","correct_answer":"Bobby Darin","incorrect_answers":["Louis Armstrong","Frank Sinatra","Dean Martin"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Who plays &quot;Bruce Wayne&quot; in the 2008 movie &quot;The Dark Knight&quot;?","correct_answer":"Christian Bale","incorrect_answers":["Michael Caine","Ron Dean","Heath Ledger"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"What Queen song plays during the final fight scene of the film &quot;Hardcore Henry&quot;?","correct_answer":"Don&#039;t Stop Me Now","incorrect_answers":["Brighton Rock","Another Bites the Dust","We Will Rock You"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Which Marvel superhero did Chris Evans play prior to his role as Captain America?","correct_answer":"Human Torch","incorrect_answers":["Cyclops","Iceman","Daredevil"]}]}'

In [13]:
results = pd.DataFrame(resp.json()['results'])
results

,category,type,difficulty,question,correct_answer,incorrect_answers
0,Entertainment: Film,multiple,medium,What was Marilyn Monroe`s character&#039;s fir...,Sugar,"[Honey, Caramel, Candy]"
1,Entertainment: Film,multiple,medium,In which 1973 film does Yul Brynner play a rob...,Westworld,"[Runaway, Android, The Terminators]"
2,Entertainment: Film,multiple,medium,"This movie contains the quote, &quot;I love th...",Apocalypse Now,"[Platoon, The Deer Hunter, Full Metal Jacket]"
3,Entertainment: Film,multiple,medium,In which African country was the 2006 film &#0...,Sierra Leone,"[Liberia, Burkina Faso, Central African Republic]"
4,Entertainment: Film,multiple,medium,Which one of these films are shot entirely in ...,Russian Ark,"[Good Will Hunting, Birdman, Schindler&#039;s ..."
5,Entertainment: Film,multiple,medium,Who played the Cenobite called &quot;Pinhead&q...,Doug Bradley,"[Doug Jones, Doug Savant, Doug Benson]"
6,Entertainment: Film,multiple,medium,Which famous singer was portrayed by actor Kev...,Bobby Darin,"[Louis Armstrong, Frank Sinatra, Dean Martin]"
7,Entertainment: Film,multiple,medium,Who plays &quot;Bruce Wayne&quot; in the 2008 ...,Christian Bale,"[Michael Caine, Ron Dean, Heath Ledger]"
8,Entertainment: Film,multiple,medium,What Queen song plays during the final fight s...,Don&#039;t Stop Me Now,"[Brighton Rock, Another Bites the Dust, We Wil..."
9,Entertainment: Film,multiple,medium,Which Marvel superhero did Chris Evans play pr...,Human Torch,"[Cyclops, Iceman, Daredevil]"

In [24]:
answers = ['uno','dos','tres','cuatro']
letras = ['A','B','C','D']

In [26]:
pos = 0
for a in answers:
    print (f'{letras[pos]} - {a}')
    pos +=1

A - uno
B - dos
C - tres
D - cuatro

In [29]:
for letra, a in zip(letras, answers):
    print (f'{letra} - {a}')

A - uno
B - dos
C - tres
D - cuatro

In [35]:
class OpenTrivia:
    
    def __init__(self):
        self.api_url = 'https://opentdb.com/api.php'
     
    def build_answers(row):

        answers = [(r,0) for r in row['incorrect_answers']]
        answers.append((row['correct_answer'], 1))
        random.shuffle(answers)
        return answers

    def call_api(self, params):
        resp = requests.get(self.api_url, params)
        if resp.ok:
            return resp.json()['results']
        else:
            raise Exception('No se pudieron recuperar preguntas')
            
    def get_questions(self):
        params = {
            #'encode':'urlLegacy',
            'amount':3,
            'difficulty':'easy',
            'type':'multiple'
        }
        easy_questions = pd.DataFrame(self.call_api(params))
        easy_questions['answers'] = easy_questions.apply(build_answers, axis=1)
        

        params = {
            #'encode':'urlLegacy',
            'amount':4,
            'difficulty':'medium',
            'type':'multiple'
        }
        medium_questions = pd.DataFrame(self.call_api(params))
        medium_questions['answers'] = medium_questions.apply(build_answers, axis=1)

        params = {
            #'encode':'urlLegacy',
            'amount':3,
            'difficulty':'hard',
            'type':'multiple'
        }
        hard_questions = pd.DataFrame(self.call_api(params))
        hard_questions['answers'] = hard_questions.apply(build_answers, axis=1)
                
        
        return pd.concat([easy_questions,medium_questions,hard_questions])
    
    def ask_question(self, question, answers):
        print(question)
        
        letras = ['A','B','C','D']
        for letra, a in zip(letras, answers):
            print(f'{letra} - {a[0]}')
            
        respuestas = dict([(letra, answer[1]) for letra, answer in zip(letras, answers)])
        respuesta = input('Cual es la respuesta correcta? ')
        return respuestas[respuesta]
        
        
    def jugar(self):
        questions = self.get_questions()
        win = True
        for i, question in questions.iterrows():
            correcta = self.ask_question(question['question'],
                                         question['answers'])
            if not correcta:
                print('Has perdido')
                win=False
                break
        if win:
            print('Eres millonario!')

In [36]:
ot = OpenTrivia ()

In [39]:
ot.jugar()

What&#039;s the Team Fortress 2 Scout&#039;s city of origin?
A - New York
B - Detroit
C - Sydney
D - Boston
Cual es la respuesta correcta? B
Has perdido

In [16]:
df = ot.get_questions()

In [17]:
answers = [(r,0) for r in df.loc[0,'incorrect_answers']]
answers.append((df.loc[0,'correct_answer'], 1))

In [19]:
random.shuffle(answers)
answers

[('Leaf Springs', 0), ('Pistons', 1), ('Radiators', 0), ('ABS', 0)]

In [20]:
def build_answers(row):
    
    answers = [(r,0) for r in row['incorrect_answers']]
    answers.append((row['correct_answer'], 1))
    random.shuffle(answers)
    return answers

In [21]:
df.apply(build_answers, axis=1)

0    [(ABS, 0), (Radiators, 0), (Pistons, 1), (Leaf...
1    [(Lord of the Rings, 0), (The Witcher, 0), (Ne...
2    [(Just Virtual Machine, 0), (Java Virtual Mach...
dtype: object

In [22]:
df['answers'] = df.apply(build_answers, axis=1)
df

,category,type,difficulty,question,correct_answer,incorrect_answers,answers
0,Vehicles,multiple,easy,What are the cylinder-like parts that pump up ...,Pistons,"[Leaf Springs, Radiators, ABS]","[(ABS, 0), (Pistons, 1), (Leaf Springs, 0), (R..."
1,Entertainment: Video Games,multiple,easy,The Khajiit are a race of cat-like creatures f...,The Elder Scrolls,"[Lord of the Rings, The Witcher, Neverwinter N...","[(Lord of the Rings, 0), (The Elder Scrolls, 1..."
2,Science: Computers,multiple,easy,What does the computer software acronym JVM st...,Java Virtual Machine,"[Java Vendor Machine, Java Visual Machine, Jus...","[(Java Visual Machine, 0), (Java Vendor Machin..."