<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [14]:
import pandas as pd

In [1]:
import requests

In [72]:
import random

- https://opentdb.com/api.php?amount=10&category=11&difficulty=medium&type=multiple

In [11]:
cat_url = 'https://opentdb.com/api_category.php'

In [17]:
resp = requests.get(cat_url).json()
categorias = pd.DataFrame(resp['trivia_categories'])
categorias

    id                                   name
0    9                      General Knowledge
1   10                   Entertainment: Books
2   11                    Entertainment: Film
3   12                   Entertainment: Music
4   13     Entertainment: Musicals & Theatres
5   14              Entertainment: Television
6   15             Entertainment: Video Games
7   16             Entertainment: Board Games
8   17                       Science & Nature
9   18                     Science: Computers
10  19                   Science: Mathematics
11  20                              Mythology
12  21                                 Sports
13  22                              Geography
14  23                                History
15  24                               Politics
16  25                                    Art
17  26                            Celebrities
18  27                                Animals
19  28                               Vehicles
20  29                  Entertainment: Comics
21  30                       Science: Gadgets
22  31  Entertainment: Japanese Anime & Manga
23  32    Entertainment: Cartoon & Animations

In [18]:
base_url = 'https://opentdb.com/api.php'

Params:

difficulty: easy,medium,hard
type: multiple, boolean

In [43]:
params = {

    'amount': 10

}

In [47]:
params = {
    'category': 11,
    'difficulty': 'medium',
    'amount': 10,

    'type': 'multiple'
}

In [48]:
params

{'category': 11, 'difficulty': 'medium', 'amount': 10, 'type': 'multiple'}

In [49]:
resp = requests.get(base_url, params=params)

In [50]:
resp.url

'https://opentdb.com/api.php?category=11&difficulty=medium&amount=10&type=multiple'

 The API appends a "Response Code" to each API Call to help tell developers what the API is doing.

    Code 0: Success Returned results successfully.
    Code 1: No Results Could not return results. The API doesn't have enough questions for your query. (Ex. Asking for 50 Questions in a Category that only has 20.)
    Code 2: Invalid Parameter Contains an invalid parameter. Arguements passed in aren't valid. (Ex. Amount = Five)
    Code 3: Token Not Found Session Token does not exist.
    Code 4: Token Empty Session Token has returned all possible questions for the specified query. Resetting the Token is necessary.

In [51]:
resp.text

'{"response_code":0,"results":[{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"In which 1973 film does Yul Brynner play a robotic cowboy who malfunctions and goes on a killing\\tspree?","correct_answer":"Westworld","incorrect_answers":["Runaway","Android","The Terminators"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"In the 1971 film &quot;Willy Wonka &amp; the Chocolate Factory&quot;, who played Willy Wonka?","correct_answer":"Gene Wilder","incorrect_answers":["Shia LeBouf","Peter Ostrum","Johnny Depp"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Who plays the Nemesis in the Resident Evil movies?","correct_answer":"Matthew Taylor","incorrect_answers":["Jason Dip","Eric Mabius","Jimmy Matts"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Which one of these action movies are shot entirely in one take?","correct_answer":"Victoria","incorrect_answers":["Ip Man 2","The Bourne Legacy","L&eacute;on: The Professional"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Who voiced Metalbeard in &quot;The Lego Movie&quot;?","correct_answer":"Nick Offerman","incorrect_answers":["Liam Neeson","Morgan Freeman","Will Arnet"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Leonardo Di Caprio won his first Best Actor Oscar for his performance in which film?","correct_answer":"The Revenant","incorrect_answers":["The Wolf Of Wall Street","Shutter Island","Inception"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Which documentary film maker wrote and starred in the film &quot;My Scientology Movie&quot; which first debuted in 2015?","correct_answer":"Louis Theroux","incorrect_answers":["Errol Morris","Joe Berlinger","Adam Curtis"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"What Queen song plays during the final fight scene of the film &quot;Hardcore Henry&quot;?","correct_answer":"Don&#039;t Stop Me Now","incorrect_answers":["Brighton Rock","Another Bites the Dust","We Will Rock You"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"In Finding Nemo, what was the name of Nemo&#039;s mom?","correct_answer":"Coral","incorrect_answers":["Sandy","Pearl","Shelly"]},{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"Who performed the opening theme song for the James Bond 007 movie &quot;Goldfinger&quot;?","correct_answer":"Shirley Basey","incorrect_answers":["Tom Jones","John Barry","Sheena Easton"]}]}'

In [52]:
results = pd.DataFrame(resp.json()['results'])
results

,category,type,difficulty,question,correct_answer,incorrect_answers
0,Entertainment: Film,multiple,medium,In which 1973 film does Yul Brynner play a rob...,Westworld,"[Runaway, Android, The Terminators]"
1,Entertainment: Film,multiple,medium,In the 1971 film &quot;Willy Wonka &amp; the C...,Gene Wilder,"[Shia LeBouf, Peter Ostrum, Johnny Depp]"
2,Entertainment: Film,multiple,medium,Who plays the Nemesis in the Resident Evil mov...,Matthew Taylor,"[Jason Dip, Eric Mabius, Jimmy Matts]"
3,Entertainment: Film,multiple,medium,Which one of these action movies are shot enti...,Victoria,"[Ip Man 2, The Bourne Legacy, L&eacute;on: The..."
4,Entertainment: Film,multiple,medium,Who voiced Metalbeard in &quot;The Lego Movie&...,Nick Offerman,"[Liam Neeson, Morgan Freeman, Will Arnet]"
5,Entertainment: Film,multiple,medium,Leonardo Di Caprio won his first Best Actor Os...,The Revenant,"[The Wolf Of Wall Street, Shutter Island, Ince..."
6,Entertainment: Film,multiple,medium,Which documentary film maker wrote and starred...,Louis Theroux,"[Errol Morris, Joe Berlinger, Adam Curtis]"
7,Entertainment: Film,multiple,medium,What Queen song plays during the final fight s...,Don&#039;t Stop Me Now,"[Brighton Rock, Another Bites the Dust, We Wil..."
8,Entertainment: Film,multiple,medium,"In Finding Nemo, what was the name of Nemo&#03...",Coral,"[Sandy, Pearl, Shelly]"
9,Entertainment: Film,multiple,medium,Who performed the opening theme song for the J...,Shirley Basey,"[Tom Jones, John Barry, Sheena Easton]"

In [53]:
class OpenTrivia:
    
    def __init__(self):
        self.api_url = 'https://opentdb.com/api.php'
        
    def call_api(self, params):
        resp = requests.get(self.api_url, params)
        if resp.ok:
            return resp.json()['results']
        else:
            raise Exception('No se pudieron recuperar preguntas')
            
    def get_questions(self):
        params = {
            'amount':3,
            'difficulty':'easy',
            'type':'multiple'
        }
        easy_questions = pd.DataFrame(self.call_api(params))
        
        return easy_questions

In [54]:
ot = OpenTrivia()

In [56]:
df = ot.get_questions()

In [69]:
answers = [(r,0) for r in df.loc[0,'incorrect_answers']]
answers.append((df.loc[0,'correct_answer'], 1))

In [77]:
random.shuffle(answers)

In [78]:
answers

[('General Median Time', 0),
 ('Glasgow Man Time', 0),
 ('Global Meridian Time', 0),
 ('Greenwich Mean Time', 1)]

In [83]:
def build_answers(row):
    
    answers = [(r,0) for r in row['incorrect_answers']]
    answers.append((row['correct_answer'], 1))
    random.shuffle(answers)
    return answers

In [84]:
df.apply(build_answers, axis=1)

0    [(Glasgow Man Time, 0), (Greenwich Mean Time, ...
1    [(Tim Schafer, 0), ( Tommy Refenes, 0), (Ron G...
2    [(January 13th, 2019, 0), (October 31st, 2019,...
dtype: object

In [85]:
df['answers'] = df.apply(build_answers, axis=1)

In [86]:
df

,category,type,difficulty,question,correct_answer,incorrect_answers,answers
0,General Knowledge,multiple,easy,What do the letters in the GMT time zone stand...,Greenwich Mean Time,"[Global Meridian Time, General Median Time, Gl...","[(Global Meridian Time, 0), (Greenwich Mean Ti..."
1,Entertainment: Video Games,multiple,easy,Who created the indie adventure game &quot;Nig...,Alec Holowka,"[Ron Gilbert, Tim Schafer, Tommy Refenes]","[(Alec Holowka, 1), ( Tommy Refenes, 0), (Tim ..."
2,Entertainment: Video Games,multiple,easy,When was &quot;Luigi&#039;s Mansion 3&quot; re...,"October 31st, 2019","[January 13th, 2019, September 6th, 2018, Octo...","[(September 6th, 2018, 0), (January 13th, 2019..."